{
  "openapi": "3.0.0",
  "info": {
    "title": "kelviq API",
    "version": "1.0.0",
    "description": "API for interacting with kelviq services, derived from Python SDK documentation."
  },
  "servers": [
    {
      "url": "https://api.kelviq.com/api/v1",
      "description": "kelviq API Server (General - specific operations might override)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The Server API Key obtained from the kelviq application. Pass as a Bearer token in the Authorization header. Example: 'Authorization: Bearer __YOUR_API_KEY__'"
      }
    },
    "schemas": {
      "BillingAddress": {
        "type": "object",
        "nullable": true,
        "description": "The billing address of the customer.",
        "properties": {
          "country": {
            "type": "string",
            "description": "The country code (e.g., ISO 3166-1 alpha-2).",
            "example": "IN"
          },
          "line1": {
            "type": "string",
            "description": "Address line 1.",
            "example": "123 Main Street"
          },
          "line2": {
            "type": "string",
            "nullable": true,
            "description": "Address line 2.",
            "example": "Apt 4B"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal or ZIP code.",
            "example": "560001"
          },
          "city": {
            "type": "string",
            "description": "The city name.",
            "example": "Bangalore"
          },
          "state": {
            "type": "string",
            "description": "The state or province.",
            "example": "Karnataka"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "A status description for the error.",
            "example": "Bad request"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "Offering does not exists"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Server-generated unique UUID for the customer record.",
            "readOnly": true,
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "customerId": {
            "type": "string",
            "description": "The client-provided customer identifier.",
            "example": "unique-customer-id-123"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The customer's name.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The customer's email.",
            "example": "new.customer@example.com"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Any server-added details about the customer (typically read-only).",
            "readOnly": true,
            "example": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "The metadata associated with the customer.",
            "example": {
              "source": "sdk_import",
              "priority": "high"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "createdOn": {
            "type": "string",
            "nullable": false,
            "description": "Customer created date and time",
            "example": "2025-06-04T06:03:30.195790Z"
          },
          "modifiedOn": {
            "type": "string",
            "nullable": false,
            "description": "Customer updated date and time",
            "example": "2025-06-04T06:03:30.195790Z"
          }
        }
      },
      "CustomerCreateRequest": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer that you define.",
            "example": "unique-customer-id-456"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The email address of the customer.",
            "example": "another.new.customer@example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the customer.",
            "example": "Jane Roe"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "A dictionary of custom key-value pairs.",
            "example": {
              "source": "sdk_import",
              "priority": "low"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "description": "Fields for updating an existing customer. Only provided fields will be updated.",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The email address of the customer.",
            "example": "jane.roe.updated@example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the customer.",
            "example": "Johnathan Doe"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "A dictionary of custom key-value pairs. If provided, it typically replaces the existing metadata. Refer to API behavior for merge strategy.",
            "example": {
              "source": "sdk_import",
              "priority": "very_high",
              "status": "active"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        }
      },
      "FeatureInput": {
        "type": "object",
        "required": [
          "identifier",
          "quantity"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The unique identifier for the feature.",
            "example": "seats"
          },
          "quantity": {
            "type": "integer",
            "description": "The desired quantity for this feature.",
            "example": 5
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "successUrl",
          "chargePeriod"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the specific plan the customer is checking out with.",
            "example": "plan-pro-monthly"
          },
          "successUrl": {
            "type": "string",
            "format": "url",
            "description": "The URL to which the user will be redirected after a successful checkout.",
            "example": "https://kelviq.com/checkout/success"
          },
          "chargePeriod": {
            "type": "string",
            "description": "The billing cycle for the subscription.",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "example": "MONTHLY"
          },
          "customerId": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the customer initiating the checkout. If not provided, a new customer may be created depending on server logic.\n\n**Note:** Even if a unique customer ID is provided, if the email address already exists in the system, the subscription will be created for that existing email \u2014 not the new customer ID. This is to preserve the uniqueness of the email address.",
            "example": "cust_789"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "A list of features and their desired quantities. SDK documentation notes this as '**Required**', but usage may vary based on examples.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 5
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, used for location-based pricing.",
            "example": "103.154.35.20"
          },
          "cancelUrl": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "description": "The URL to which the user will be redirected if the payment is cancelled.",
            "example": "https://kelviq.com/checkout/cancel"
          },
          "plansEnabled": {
            "type": "string",
            "nullable": true,
            "description": "A comma-separated list of plan identifiers to display on the checkout page.",
            "example": "plan-pro-monthly,plan-pro-yearly"
          }
        }
      },
      "CreateCheckoutSessionResponse": {
        "type": "object",
        "properties": {
          "checkoutUrl": {
            "type": "string",
            "format": "url",
            "description": "The URL that the customer should be redirected to complete the payment.",
            "example": "https://checkout.stripe.com/c/pay/cs_test_b1sNi7D6u9iMCUFV1UZi9ZaiXKdOOmr3DCUW6XdCZIr5Id1F7#fid..."
          },
          "checkoutSessionId": {
            "type": "string",
            "description": "The unique ID for the created checkout session.",
            "example": "cs_test_b1sNi7D6u9iMCUFV1UZi9ZwerfaiXKdOOmr3DCUW6XdCZIr5Id1F7G"
          }
        }
      },
      "EntitlementDetail": {
        "type": "object",
        "properties": {
          "featureId": {
            "type": "string",
            "example": "advanced-analytics"
          },
          "hasAccess": {
            "type": "boolean",
            "example": true
          },
          "featureType": {
            "type": "string",
            "example": "METER"
          },
          "resetAt": {
            "type": "string",
            "description": "The reset timestamp for the entitlement (e.g., yyyy-MM-dd HH:mm:ss). Not necessarily ISO 8601.",
            "example": "2025-05-22 08:27:45"
          },
          "hardLimit": {
            "type": "boolean",
            "nullable": true,
            "example": false
          },
          "usageLimit": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 3
          },
          "currentUsage": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 0
          },
          "remaining": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 3
          }
        }
      },
      "CheckEntitlementsResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "cust_456"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitlementDetail"
            }
          }
        }
      },
      "LicenseActivation": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "instanceName": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "customerId": "cust_45678",
          "instanceName": "Geo's MacBook Pro"
        }
      },
      "LicenseActivationResponse": {
        "type": "object",
        "properties": {
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "license": {
            "$ref": "#/components/schemas/LicenseDetails"
          }
        },
        "example": {
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h",
          "activatedAt": "2026-01-27T10:33:00Z",
          "expiresOn": "2027-01-27T10:33:00Z",
          "license": {
            "id": "7be7a5b6-7a0e-4178-a085-8ef48f0649ab",
            "licenseKey": "LIC-A8D5F89E-B46B-472C-9BED-66EE2545B85E",
            "activatedOn": "2026-01-22T03:26:56.836323Z",
            "expiresOn": "2026-01-23T03:26:56.836323Z",
            "activationUsage": 0,
            "activationLimit": 2,
            "enabled": true,
            "customer": {
              "customerId": "cfa95cf8c8d24e8b9d3d2d1ada98a94d",
              "name": "Geo",
              "email": "hazelmathew7+100@gmail.com"
            }
          }
        }
      },
      "LicenseDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "licenseKey": {
            "type": "string"
          },
          "activatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "activationUsage": {
            "type": "integer"
          },
          "activationLimit": {
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          },
          "customer": {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "plan": {
            "type": "object",
            "properties": {
              "identifier": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "taxCode": {
                    "type": "string"
                  },
                  "createdOn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "version": {
                "type": "integer"
              },
              "isLatest": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "LicenseDeactivation": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "instanceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "instanceId",
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
        }
      },
      "LicenseDeactivationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "deactivatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "message": "License instance deactivated successfully.",
          "deactivatedAt": "2026-01-27T10:35:00Z"
        }
      },
      "LicenseValidate": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "instanceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
        }
      },
      "LicenseValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "example": {
          "valid": true,
          "code": "VALID",
          "detail": "Instance ID valid for this license.",
          "metadata": {
            "os": "macOS",
            "arch": "arm64"
          }
        }
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "chargePeriod",
          "customerId"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the specific plan the customer is subscribing to.",
            "example": "plan-pro-monthly"
          },
          "successUrl": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "description": "The URL to which the user will be redirected after a successful subscription creation. Optional.",
            "example": "https://kelviq.com/subscription/success"
          },
          "chargePeriod": {
            "type": "string",
            "description": "The billing cycle for the subscription. If the plan is free, pass `ONE_TIME` as the chargePeriod.",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "example": "MONTHLY"
          },
          "customerId": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the customer creating the subscription.",
            "example": "cust_789"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "A list of features and their desired quantities.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 5
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, used for location-based pricing.",
            "example": "103.154.35.20"
          }
        }
      },
      "CreateSubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier of the created subscription.",
            "example": "520ca8a5-9fc0-4d6a-bc7a-2ba331595441"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The start date of the subscription.",
            "example": "2026-02-07"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The end date of the subscription, if applicable.",
            "example": null
          },
          "billingPeriodStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the current billing period.",
            "example": "2026-02-07T06:02:05Z"
          },
          "billingPeriodEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "The end time of the current billing period.",
            "example": "2026-02-08T06:02:05Z"
          },
          "amount": {
            "type": "string",
            "description": "The subscription amount.",
            "example": "2000.00"
          },
          "recurrence": {
            "type": "string",
            "description": "The recurrence interval of the subscription.",
            "example": "month"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the subscription.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "trialing"
          },
          "product": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the product.",
                "example": "Invoice Test"
              },
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "The unique identifier of the product.",
                "example": "88e437b8-6017-405b-9328-e0f4e140bb79"
              },
              "identifier": {
                "type": "string",
                "description": "The identifier of the product.",
                "example": "invoice-test"
              }
            }
          },
          "plan": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the plan.",
                "example": "iUltra"
              },
              "identifier": {
                "type": "string",
                "description": "The identifier of the plan.",
                "example": "i-ultra"
              }
            }
          },
          "features": {
            "type": "array",
            "items": {},
            "description": "List of features included in the subscription."
          },
          "trialDaysRemaining": {
            "type": "integer",
            "description": "Number of trial days remaining.",
            "example": 1
          },
          "customerId": {
            "type": "string",
            "description": "The customer identifier associated with this subscription.",
            "example": "geojacob"
          }
        }
      },
      "DetailErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "A human-readable error message.",
            "example": "Customer does not exist."
          }
        }
      },
      "ReportUsageRequest": {
        "type": "object",
        "required": [
          "value",
          "customerId",
          "featureId",
          "behaviour"
        ],
        "properties": {
          "value": {
            "type": "integer",
            "description": "The usage value being reported.",
            "example": 150
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with this usage.",
            "example": "customer_001"
          },
          "featureId": {
            "type": "string",
            "description": "Unique identifier for the feature for which usage is being reported.",
            "example": "seats"
          },
          "behaviour": {
            "type": "string",
            "enum": [
              "SET",
              "DELTA"
            ],
            "description": "Dictates how the usage is updated. SET replaces, DELTA increments.",
            "example": "SET"
          }
        }
      },
      "ReportUsageResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "example": 150
          },
          "customerId": {
            "type": "string",
            "example": "customer_001"
          },
          "featureId": {
            "type": "string",
            "example": "seats"
          },
          "behaviour": {
            "type": "string",
            "enum": [
              "SET",
              "DELTA"
            ],
            "example": "SET"
          },
          "orgId": {
            "type": "string",
            "example": "1"
          },
          "eventName": {
            "type": "string",
            "description": "Internal event name (e.g., \"aggregated.usage\").",
            "example": "aggregated.usage"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Server-generated unique idempotency key for this usage report instance.",
            "example": "597ee95063c744ed9bcc9b1cf5676a8a"
          },
          "timestamp": {
            "type": "string",
            "description": "Server-generated UTC timestamp (e.g., yyyy-MM-dd HH:mm:ss.ffffff) when the report was processed.",
            "example": "2025-05-22 08:27:45.430732"
          }
        }
      },
      "ReportEventRequest": {
        "type": "object",
        "required": [
          "customerId",
          "eventName",
          "idempotencyKey",
          "timestamp"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer who performed the event.",
            "example": "customer_002"
          },
          "eventName": {
            "type": "string",
            "description": "Name of the event (e.g., \"user_login\", \"item_purchased\").",
            "example": "api_invoked"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Client-generated unique key (UUID recommended) to ensure at-most-once processing.",
            "example": "45f05c73-7a0b-44d4-82c6-042816d5645d"
          },
          "timestamp": {
            "type": "string",
            "description": "UTC timestamp when the event occurred (Format: yyyy-MM-dd HH:mm:ss.ffffff).",
            "example": "2025-05-22 07:53:55.747959"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Custom key-value pairs associated with the event.",
            "example": {
              "featureId": "api-usage",
              "value": 2
            }
          }
        }
      },
      "ReportEventResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "customer_002"
          },
          "eventName": {
            "type": "string",
            "example": "api_invoked"
          },
          "idempotencyKey": {
            "type": "string",
            "example": "45f05c737a0b44d482c6042816d5645d"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-22 07:53:55.747959"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "example": {
              "featureId": "api-usage",
              "value": 2
            }
          },
          "orgId": {
            "type": "string",
            "example": "1"
          }
        }
      },
      "UpdateSubscriptionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "chargePeriod"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the new plan.",
            "example": "new_plan_enterprise"
          },
          "chargePeriod": {
            "type": "string",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "description": "The new charging period for the subscription.",
            "example": "YEARLY"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "List of features and quantities to update for the subscription.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 10
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, for location-based pricing.",
            "example": "103.154.35.20"
          }
        }
      },
      "UpdateSubscriptionResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "example": "dffaf07e-4517-47db-ba3a-59a05aa2d465"
          }
        }
      },
      "CancelSubscriptionRequest": {
        "type": "object",
        "required": [
          "cancellationType"
        ],
        "properties": {
          "cancellationType": {
            "type": "string",
            "enum": [
              "IMMEDIATE",
              "CURRENT_PERIOD_ENDS",
              "SPECIFIC_DATE"
            ],
            "description": "Type of cancellation to perform.",
            "example": "IMMEDIATE"
          },
          "cancellationDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Required if cancellationType is 'SPECIFIC_DATE'. Format: yyyy-MM-dd.",
            "example": "2025-12-31"
          }
        }
      },
      "CancelSubscriptionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Subscription cancellation processed successfully."
          }
        }
      },
      "PublicOfferingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricingTable": {
            "$ref": "#/components/schemas/PricingTable"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          },
          "countryCode": {
            "type": "string"
          },
          "pricingLocale": {
            "type": "string"
          },
          "currencyCode": {
            "type": "string"
          },
          "currencySymbol": {
            "type": "string"
          },
          "baseCurrencyCode": {
            "type": "string"
          },
          "baseCurrencySymbol": {
            "type": "string"
          },
          "subscription": {
            "$ref": "#/components/schemas/SubscriptionInfo",
            "nullable": true
          },
          "isCustomerExists": {
            "type": "boolean"
          },
          "billingPeriods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriod"
            }
          }
        }
      },
      "ProductOfferingResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "integer",
            "description": "The internal ID of the organization that owns this product."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code resolved from the request."
          },
          "pricingLocale": {
            "type": "string",
            "description": "BCP 47 locale tag used for price formatting (e.g. \"en-US\")."
          },
          "currencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code for the resolved locale (e.g. \"USD\")."
          },
          "currencySymbol": {
            "type": "string"
          },
          "currencyConversionRate": {
            "type": "number",
            "description": "Conversion rate from the base currency to the resolved currency."
          },
          "baseCurrencyCode": {
            "type": "string"
          },
          "baseCurrencySymbol": {
            "type": "string"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductPlan"
            }
          },
          "subscription": {
            "type": "object",
            "properties": {
              "hasPreviousSubscription": {
                "type": "boolean"
              },
              "planIdentifier": {
                "type": "string",
                "nullable": true
              },
              "subscriptionId": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "chargePeriod": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "isCustomerExists": {
            "type": "boolean"
          },
          "billingPeriods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriod"
            }
          }
        }
      },
      "ProductPlan": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "identifier": { "type": "string" },
          "details": { "type": "object" },
          "isVisible": { "type": "boolean" },
          "metadata": { "type": "object" },
          "basePlan": { "nullable": true },
          "price": { "$ref": "#/components/schemas/FeaturePrice" },
          "addons": { "type": "array", "items": {} },
          "originalPrice": {
            "type": "object",
            "description": "Map of chargePeriod to base price amount (e.g. {\"MONTHLY\": 19.0, \"YEARLY\": 190.0})."
          },
          "features": { "type": "array", "items": {} },
          "shouldHighlight": { "type": "boolean" },
          "enabled": { "type": "boolean" },
          "displayName": { "type": "string" },
          "displayDescription": { "type": "string" },
          "includes": { "type": "string" }
        }
      },
      "PricingTable": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "style": {
            "type": "object"
          },
          "typography": {
            "type": "object"
          },
          "layout": {
            "type": "object"
          },
          "template": {
            "nullable": true
          },
          "descriptionTooltipEnabled": {
            "type": "boolean"
          },
          "pricingOptions": {
            "type": "object"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isVisible": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "price": {
            "$ref": "#/components/schemas/FeaturePrice"
          },
          "addons": {
            "type": "array",
            "items": {}
          },
          "originalPrice": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          },
          "displayName": {
            "type": "string"
          },
          "shouldHighlight": {
            "type": "boolean"
          },
          "displayDescription": {
            "type": "string"
          }
        }
      },
      "FeaturePrice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "priceType": {
            "type": "string"
          },
          "freeTrial": {
            "type": "boolean"
          },
          "trialPeriod": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "chargePeriod": {
            "type": "string"
          },
          "tiers": {
            "type": "array",
            "items": {}
          },
          "priceData": {
            "type": "object"
          },
          "details": {
            "type": "object"
          },
          "advanced": {
            "type": "object"
          },
          "featureQuantityPrice": {
            "type": "number"
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "identifier": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "displayDescription": {
            "type": "string"
          },
          "displayTooltipDescription": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "featureType": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isArchived": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time"
          },
          "meter": {
            "type": "object"
          },
          "featureDetails": {
            "type": "object"
          },
          "value": {
            "nullable": true
          },
          "hardLimit": {
            "type": "boolean",
            "nullable": true
          },
          "reset": {
            "type": "string",
            "nullable": true
          },
          "resetTime": {
            "type": "string",
            "nullable": true
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            },
            "nullable": true
          }
        }
      },
      "SubscriptionInfo": {
        "type": "object",
        "properties": {
          "planIdentifier": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {}
          },
          "subscriptionId": {
            "type": "string",
            "format": "uuid"
          },
          "chargePeriod": {
            "type": "string"
          },
          "hasPreviousSubscription": {
            "type": "boolean"
          }
        }
      },
      "BillingPeriod": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string"
          },
          "chargePeriod": {
            "type": "string"
          },
          "promoCaption": {
            "type": "string"
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalSubscriptionId": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "billingPeriodStartTime": {
            "type": "string",
            "format": "date-time"
          },
          "billingPeriodEndTime": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "string"
          },
          "recurrence": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/SubscriptionPlan"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionFeatureDetail"
            }
          },
          "trialDaysRemaining": {
            "type": "integer"
          },
          "customerId": {
            "type": "string"
          }
        }
      },
      "SubscriptionPlan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "SubscriptionFeatureDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "featureType": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isArchived": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time"
          },
          "meter": {
            "type": "object"
          },
          "featureDetails": {
            "type": "object",
            "properties": {
              "units": {
                "type": "object",
                "properties": {
                  "plural": {
                    "type": "string"
                  },
                  "singular": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "reset": {
            "type": "string",
            "nullable": true
          },
          "resetTime": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer"
          },
          "hardLimit": {
            "type": "boolean"
          }
        }
      },
      "PromotionResponse": {
        "type": "object",
        "description": "Promotion data resolved for the visitor's detected location.",
        "properties": {
          "country": {
            "type": "string",
            "description": "Full name of the visitor's detected country.",
            "example": "India"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "IN"
          },
          "percentage": {
            "type": "number",
            "description": "Discount percentage for the visitor's country. `0` means no active discount.",
            "example": 40
          },
          "code": {
            "type": "string",
            "description": "Coupon code the visitor can apply at checkout.",
            "example": "KQP5LHNZB1Z"
          },
          "message": {
            "type": "string",
            "description": "Optional plain-text message. Usually empty \u2014 the banner message is in `widgets[].countryMessage`.",
            "example": ""
          },
          "widgets": {
            "type": "array",
            "description": "UI widgets configured for this promotion. Currently contains one `BANNER` widget.",
            "items": {
              "$ref": "#/components/schemas/PromotionWidget"
            }
          },
          "security": {
            "$ref": "#/components/schemas/PromotionSecurity"
          }
        }
      },
      "PromotionWidget": {
        "type": "object",
        "description": "Banner widget configuration returned by the promotion API.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BANNER"
            ],
            "description": "Widget type. Currently always `BANNER`.",
            "example": "BANNER"
          },
          "backgroundColor": {
            "type": "string",
            "description": "Banner background color (hex).",
            "example": "#3182CE"
          },
          "fontColor": {
            "type": "string",
            "description": "Main text color.",
            "example": "#F9F9F9"
          },
          "highlightFontColor": {
            "type": "string",
            "description": "Color for emphasized text such as the discount percentage.",
            "example": "#DD5C64"
          },
          "fontSize": {
            "type": "string",
            "description": "Font size as a CSS value.",
            "example": "1rem"
          },
          "borderRadius": {
            "type": "string",
            "description": "Banner border radius as a CSS value.",
            "example": "0"
          },
          "placement": {
            "type": "string",
            "enum": [
              "top",
              "bottom"
            ],
            "description": "Viewport position of the banner.",
            "example": "top"
          },
          "unStyled": {
            "type": "boolean",
            "description": "When `true`, no default styles are injected. Apply your own CSS from scratch.",
            "example": false
          },
          "addCloseIcon": {
            "type": "boolean",
            "description": "When `true`, a close button is shown on the banner.",
            "example": false
          },
          "countryMessage": {
            "type": "string",
            "description": "Banner message template. Supports: `{country}`, `{country_flag}`, `{coupon_code}`, `{discount_percentage}`. HTML tags are allowed.",
            "example": "Hello {country_flag} You're from <b>{country}</b>. Use code <b>\"{coupon_code}\"</b> for <b>{discount_percentage}%</b> off."
          }
        }
      },
      "PromotionSecurity": {
        "type": "object",
        "description": "Security check results for the visitor. `true` means the check flagged the request.",
        "properties": {
          "vpn": {
            "type": "boolean",
            "description": "`true` if a VPN was detected.",
            "example": false
          },
          "tor": {
            "type": "boolean",
            "description": "`true` if Tor Browser was detected.",
            "example": false
          },
          "proxy": {
            "type": "boolean",
            "description": "`true` if a proxy server was detected.",
            "example": false
          },
          "relay": {
            "type": "boolean",
            "description": "`true` if Apple Private Relay was detected.",
            "example": false
          },
          "crawler": {
            "type": "boolean",
            "description": "`true` if the request is identified as a bot or crawler.",
            "example": false
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/customers/": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "Creates a new customer record within kelviq.",
        "operationId": "createCustomer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "customerId": "unique-customer-id-123",
                  "name": "John Doe",
                  "email": "new.customer@example.com",
                  "details": {},
                  "metadata": {
                    "source": "sdk_import",
                    "priority": "high"
                  },
                  "billingAddress": {
                    "country": "IN",
                    "line1": "123 Main Street",
                    "line2": "Apt 4B",
                    "postalCode": "560001",
                    "city": "Bangalore",
                    "state": "Karnataka"
                  },
                  "createdOn": "2025-06-04T06:03:30.195790Z",
                  "modifiedOn": "2025-06-04T06:03:30.195831Z"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/": {
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "description": "Performs a partial update on an existing customer using their client-defined `customerId`.",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The client-defined unique identifier for the customer.",
            "example": "unique-customer-id-123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                  "customerId": "unique-customer-id-123",
                  "name": "Johnathan Doe",
                  "email": "new.customer@example.com",
                  "details": {},
                  "metadata": {
                    "source": "sdk_import",
                    "priority": "high",
                    "status": "active"
                  },
                  "billingAddress": {
                    "country": "IN",
                    "line1": "123 Main Street",
                    "line2": "Apt 4B",
                    "postalCode": "560001",
                    "city": "Bangalore",
                    "state": "Karnataka"
                  },
                  "createdOn": "2025-06-04T06:03:30.195790Z",
                  "modifiedOn": "2025-06-04T06:03:30.195831Z"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create a checkout session",
        "description": "Creates a new checkout session for a customer to proceed with a purchase or subscription.",
        "operationId": "createCheckoutSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout Session Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutSessionResponse"
                },
                "example": {
                  "checkoutUrl": "https://checkout.stripe.com/c/pay/cs_test_b1sNi7D6u9iMCUFV1UZi9ZaiXKdOOmr3DCUW6XdCZIr5Id1F7#fid...",
                  "checkoutSessionId": "cs_test_b1sNi7D6u9iMCUFV1UZi9ZwerfaiXKdOOmr3DCUW6XdCZIr5Id1F7G"
                }
              }
            }
          }
        }
      }
    },
    "/entitlements/": {
      "servers": [
        {
          "url": "https://edge.api.kelviq.com",
          "description": "Edge API for Entitlements"
        }
      ],
      "get": {
        "tags": [
          "Entitlements"
        ],
        "summary": "Retrieve customer entitlements",
        "description": "Retrieves detailed entitlement information for a customer.\n- If `feature_idd` is provided as a query parameter, returns details for that specific feature.\n- If `feature_id` is omitted, returns all entitlements for the customer.\n",
        "operationId": "getCustomerEntitlements",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "required": true,
            "description": "The unique identifier for the customer.",
            "example": "cust_123",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature_id",
            "in": "query",
            "required": false,
            "description": "Optional. The unique identifier for a specific feature. If provided, filters entitlements to this feature.",
            "example": "advanced-analytics",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of entitlement details for the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckEntitlementsResponse"
                },
                "examples": {
                  "specificFeatureExample": {
                    "summary": "Example for get_entitlement for a specific feature",
                    "value": {
                      "customerId": "cust_456",
                      "entitlements": [
                        {
                          "featureId": "advanced-analytics",
                          "featureType": "METER",
                          "hasAccess": true,
                          "resetAt": "2025-05-22 08:27:45",
                          "hardLimit": false,
                          "usageLimit": 3,
                          "currentUsage": 0,
                          "remaining": 3
                        }
                      ]
                    }
                  },
                  "allFeaturesExample": {
                    "summary": "Example for get_all_entitlements for a customer",
                    "value": {
                      "customerId": "cust_123",
                      "entitlements": [
                        {
                          "featureId": "advanced-analytics",
                          "featureType": "METER",
                          "hasAccess": true,
                          "resetAt": "2025-05-22 08:27:45",
                          "hardLimit": false,
                          "usageLimit": 3,
                          "currentUsage": 0,
                          "remaining": 3
                        },
                        {
                          "featureId": "basic-reporting",
                          "featureType": "FLAG",
                          "hasAccess": true,
                          "resetAt": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/license/activate/": {
      "post": {
        "operationId": "licenseActivate",
        "tags": [
          "License"
        ],
        "summary": "Activate License",
        "description": "Activates a license key for a specific instance.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseActivation"
              },
              "example": {
                "licenseKey": "LIC-A8D5F89E-B46B-472C-9BED-66EE2545B85E",
                "customerId": "cfa95cf8c8d24e8b9d3d2d1ada98a94d",
                "instanceName": "Geo's Workstation",
                "metadata": {
                  "os": "macOS",
                  "version": "14.2"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseActivationResponse"
                },
                "example": {
                  "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h",
                  "activatedAt": "2026-01-27T10:33:00Z",
                  "expiresOn": "2026-01-28T10:33:00Z",
                  "license": {
                    "id": "7be7a5b6-7a0e-4178-a085-8ef48f0649ab",
                    "licenseKey": "LIC-A8D5F89E-B46B-472C-9BED-66EE2545B85E",
                    "activatedOn": "2026-01-22T03:26:56Z",
                    "expiresOn": "2026-01-23T03:26:56Z",
                    "activationUsage": 1,
                    "activationLimit": 4,
                    "enabled": true,
                    "customer": {
                      "customerId": "cfa95cf8c8d24e8b9d3d2d1ada98a94d",
                      "name": "Geo",
                      "email": "geo@kelviq.com"
                    },
                    "plan": {
                      "identifier": "pro-yearly",
                      "name": "Pro Yearly",
                      "product": {
                        "id": "d970ab2d-834f-4c52-8742-2e6ed7e8a31f",
                        "identifier": "kelviq-engine",
                        "name": "Kelviq Engine",
                        "taxCode": "software"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation failed (e.g., missing licenseKey).",
            "content": {
              "application/json": {
                "example": {
                  "licenseKey": [
                    "This field is required."
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - License expired or activation limit reached.",
            "content": {
              "application/json": {
                "examples": {
                  "expired": {
                    "value": {
                      "error": "This license has expired."
                    }
                  },
                  "limit_reached": {
                    "value": {
                      "error": "Activation limit reached (10/10)."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invalid license key or customer ID mapping.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Invalid license key or customer ID."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Processing error during database transaction.",
            "content": {
              "application/json": {
                "example": {
                  "error": "An error occurred during activation processing."
                }
              }
            }
          }
        }
      }
    },
    "/license/deactivate/": {
      "post": {
        "operationId": "licenseDeactivate",
        "tags": [
          "License"
        ],
        "summary": "Deactivate License",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseDeactivation"
              },
              "example": {
                "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
                "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deactivation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseDeactivationResponse"
                },
                "example": {
                  "message": "License instance deactivated successfully.",
                  "deactivatedAt": "2026-01-27T10:35:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error (e.g., missing required fields).",
            "content": {
              "application/json": {
                "example": {
                  "licenseKey": [
                    "This field is required."
                  ],
                  "instanceId": [
                    "This field is required."
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The combination of licenseKey and instanceId does not exist.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Invalid license key or instance ID."
                }
              }
            }
          }
        }
      }
    },
    "/license/validate/": {
      "post": {
        "operationId": "licenseValidate",
        "tags": [
          "License"
        ],
        "summary": "Validate License",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseValidate"
              },
              "example": {
                "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
                "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseValidationResponse"
                },
                "example": {
                  "valid": true,
                  "code": "VALID",
                  "detail": "Instance ID valid for this license.",
                  "metadata": {
                    "os": "macOS",
                    "arch": "arm64"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Request body failed validation.",
            "content": {
              "application/json": {
                "example": {
                  "licenseKey": [
                    "This field is required."
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The license key or instance ID was not found in the database.",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_key": {
                    "summary": "License key not found",
                    "value": {
                      "valid": false,
                      "code": "INVALID_KEY",
                      "detail": "License key not found.",
                      "metadata": {}
                    }
                  },
                  "instance_not_found": {
                    "summary": "Instance not found for key",
                    "value": {
                      "valid": false,
                      "code": "INSTANCE_NOT_FOUND",
                      "detail": "Instance ID invalid for this license.",
                      "metadata": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/report/usage/": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Report pre-aggregated usage",
        "description": "Reports pre-aggregated feature usage from your application to kelviq.",
        "operationId": "reportUsage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportUsageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usage reported successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportUsageResponse"
                },
                "example": {
                  "value": 150,
                  "customerId": "customer_001",
                  "featureId": "seats",
                  "behaviour": "SET",
                  "orgId": "1",
                  "eventName": "aggregated.usage",
                  "idempotencyKey": "597ee95063c744ed9bcc9b1cf5676a8a",
                  "timestamp": "2025-05-22 08:27:45.430732"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/create/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a subscription",
        "description": "Creates a new subscription for a customer directly, without requiring a checkout session.",
        "operationId": "createSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubscriptionResponse"
                },
                "example": {
                  "id": "520ca8a5-9fc0-4d6a-bc7a-2ba331595441",
                  "startDate": "2026-02-07",
                  "endDate": null,
                  "billingPeriodStartTime": "2026-02-07T06:02:05Z",
                  "billingPeriodEndTime": "2026-02-08T06:02:05Z",
                  "amount": "2000.00",
                  "recurrence": "month",
                  "currency": "USD",
                  "status": "trialing",
                  "product": {
                    "name": "Invoice Test",
                    "id": "88e437b8-6017-405b-9328-e0f4e140bb79",
                    "identifier": "invoice-test"
                  },
                  "plan": {
                    "name": "iUltra",
                    "identifier": "i-ultra"
                  },
                  "features": [],
                  "trialDaysRemaining": 1,
                  "customerId": "geojacob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation or business logic error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailErrorResponse"
                },
                "example": {
                  "detail": "Customer does not exist."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List Subscriptions",
        "description": "Retrieves a paginated list of subscriptions. You can filter the results by customer.",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "description": "The client-defined unique identifier for the customer to filter subscriptions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The initial index from which to return the results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                },
                "example": {
                  "count": 1,
                  "next": null,
                  "previous": null,
                  "results": [
                    {
                      "id": "09d706ca-58f3-4fb2-818f-5b8623d67e6e",
                      "externalSubscriptionId": "sub_1RpoZoSBstCzyocS7iPmith3",
                      "startDate": "2025-07-28",
                      "endDate": null,
                      "billingPeriodStartTime": "2025-07-28T10:46:34Z",
                      "billingPeriodEndTime": "2025-08-28T10:46:34Z",
                      "amount": "261.00",
                      "recurrence": "month",
                      "currency": "usd",
                      "status": "active",
                      "product": "Aphelo",
                      "plan": {
                        "name": "Premium",
                        "identifier": "premium1"
                      },
                      "features": [
                        {
                          "id": "b417ae2f-35e2-48f2-a5c4-fdaa99b2b96a",
                          "identifier": "products",
                          "name": "Products",
                          "description": "",
                          "featureType": "CUSTOMIZABLE",
                          "details": {},
                          "isArchived": false,
                          "metadata": {},
                          "modifiedOn": "2025-06-14T11:36:26.062491Z",
                          "meter": {},
                          "featureDetails": {
                            "units": {
                              "plural": "counts",
                              "singular": "count"
                            }
                          },
                          "reset": null,
                          "resetTime": null,
                          "value": 100,
                          "hardLimit": false
                        }
                      ],
                      "trialDaysRemaining": 0,
                      "customerId": "testuser"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/update/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update a subscription",
        "description": "Updates an existing subscription to a new plan, charge period, and/or features.",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the subscription to be updated. Example UUID from docs: 78058918-9746-4280-9b9b-1bd5115eec6e",
            "example": "78058918-9746-4280-9b9b-1bd5115eec6e",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UUID of the updated subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSubscriptionResponse"
                },
                "example": {
                  "subscriptionId": "dffaf07e-4517-47db-ba3a-59a05aa2d465"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/cancel/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Cancel a subscription",
        "description": "Cancels an active subscription for a customer.",
        "operationId": "cancelSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the subscription to be cancelled. Example UUID from docs: 78058918-9746-4280-9b9b-1bd5115eec6e",
            "example": "78058918-9746-4280-9b9b-1bd5115eec6e",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription cancellation processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSubscriptionResponse"
                },
                "example": {
                  "message": "Subscription cancellation processed successfully."
                }
              }
            }
          }
        }
      }
    },
    "/monetization/public-offering/{offering_id}/": {
      "get": {
        "tags": [
          "Monetization"
        ],
        "summary": "Get Public Offering",
        "description": "Retrieves the public details of a specific offering, which can be used to render a pricing page or paywall.",
        "operationId": "getPublicOffering",
        "parameters": [
          {
            "name": "offering_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UUID) for the offering.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "description": "Optional. The identifier for an existing customer to tailor the offering view (e.g., showing their current plan).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with public offering details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicOfferingResponse"
                },
                "example": {
                  "id": "7b793738-9f99-43e0-a8af-7b72fc8f8886",
                  "name": "Aphelo v1",
                  "description": "",
                  "pricingTable": {
                    "name": "Aphelo Paywall",
                    "description": "",
                    "identifier": "aphelo-paywall",
                    "style": {
                      "priceColor": "#171923",
                      "titleColor": "#171923",
                      "buttonColor": "#F7FAFC",
                      "dividerColor": "#E2E8F0",
                      "featureColor": "#2D3748",
                      "priceUnitColor": "#171923",
                      "descriptionColor": "#718096",
                      "pricePeriodColor": "#718096",
                      "cardBackgroundColor": "#fff",
                      "buttonBackgroundColor": "#1A202C",
                      "buttonHoverBackgroundColor": "#1A202C"
                    },
                    "typography": {
                      "priceFontSize": 32,
                      "titleFontSize": 24,
                      "featureFontSize": 16,
                      "priceFontWeight": "bold",
                      "titleFontWeight": "bold",
                      "featureFontWeight": "normal",
                      "priceUnitFontSize": 32,
                      "descriptionFontSize": 16,
                      "pricePeriodFontSize": 16,
                      "priceUnitFontWeight": "bold",
                      "descriptionFontWeight": "normal",
                      "pricePeriodFontWeight": "normal"
                    },
                    "layout": {
                      "gap": 24,
                      "align": "center",
                      "maxWidth": 400,
                      "minWidth": 360
                    },
                    "template": null,
                    "descriptionTooltipEnabled": true,
                    "pricingOptions": {
                      "localization": true,
                      "showDecimal": true,
                      "showCurrencyCode": false,
                      "showCurrencySymbol": true,
                      "maximumDecimalDigits": 2,
                      "minimumDecimalDigits": 2
                    }
                  },
                  "plans": [
                    {
                      "name": "Free",
                      "identifier": "free",
                      "details": {
                        "stripeProductId": "prod_SUs8ZwzyrjlSAZ"
                      },
                      "isVisible": true,
                      "features": [
                        {
                          "identifier": "apicalls",
                          "displayName": "apicalls",
                          "featureType": "METER",
                          "value": 5000
                        },
                        {
                          "identifier": "products",
                          "displayName": "Products",
                          "featureType": "CUSTOMIZABLE",
                          "value": 1
                        },
                        {
                          "identifier": "branding",
                          "displayName": "branding",
                          "featureType": "BOOLEAN",
                          "value": false
                        },
                        {
                          "identifier": "email-settings",
                          "displayName": "Email settings",
                          "featureType": "BOOLEAN",
                          "value": true
                        }
                      ],
                      "price": {
                        "priceType": "FREE",
                        "charges": [
                          {
                            "chargePeriod": "YEARLY",
                            "priceData": {
                              "amount": 0.0
                            }
                          }
                        ]
                      }
                    },
                    {
                      "name": "Basic",
                      "identifier": "basic",
                      "details": {
                        "stripeProductId": "prod_SUsCWTpt2AkvJD"
                      },
                      "isVisible": true,
                      "features": [
                        {
                          "identifier": "apicalls",
                          "displayName": "apicalls",
                          "featureType": "METER",
                          "value": 50000
                        },
                        {
                          "identifier": "products",
                          "displayName": "Products",
                          "featureType": "CUSTOMIZABLE",
                          "value": 5
                        },
                        {
                          "identifier": "branding",
                          "displayName": "branding",
                          "featureType": "BOOLEAN",
                          "value": false
                        },
                        {
                          "identifier": "email-settings",
                          "displayName": "Email settings",
                          "featureType": "BOOLEAN",
                          "value": true
                        }
                      ],
                      "price": {
                        "priceType": "PAID",
                        "charges": [
                          {
                            "chargePeriod": "MONTHLY",
                            "priceData": {
                              "amount": 59.0
                            }
                          },
                          {
                            "chargePeriod": "YEARLY",
                            "priceData": {
                              "amount": 491.0
                            }
                          }
                        ]
                      }
                    }
                  ],
                  "countryCode": "IN",
                  "pricingLocale": "en-US",
                  "currencyCode": "USD",
                  "currencySymbol": "$",
                  "baseCurrencyCode": "USD",
                  "baseCurrencySymbol": "$",
                  "subscription": {
                    "planIdentifier": "basic",
                    "features": [],
                    "subscriptionId": "7e468572-cc01-424f-ba88-69917164538b",
                    "chargePeriod": "MONTHLY",
                    "hasPreviousSubscription": true
                  },
                  "isCustomerExists": true,
                  "billingPeriods": [
                    {
                      "displayName": "Monthly",
                      "chargePeriod": "MONTHLY"
                    },
                    {
                      "displayName": "Yearly",
                      "chargePeriod": "YEARLY"
                    },
                    {
                      "displayName": "One Time",
                      "chargePeriod": "ONE_TIME"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request, for example, if the offering does not exist or the request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "Bad request",
                  "message": "Offering does not exists"
                }
              }
            }
          }
        }
      }
    },
    "/monetization/product-offering/{product_id}/": {
      "get": {
        "tags": [
          "Monetization"
        ],
        "summary": "Get Product Offering",
        "description": "Retrieves the public pricing details for a specific product, including all eligible plans, localized pricing, and the customer's current subscription state. Use this to render a pricing page or paywall scoped to a product.",
        "operationId": "getProductOffering",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UUID) of the product.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "description": "Optional. Your customer's ID. When provided, the response includes the customer's active subscription details and the `isCustomerExists` flag.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plans_enabled",
            "in": "query",
            "required": false,
            "description": "Optional. Comma-separated list of plan identifiers to include in the response. When omitted, all active plans for the product are returned. Example: `plans_enabled=pro,enterprise`",
            "schema": {
              "type": "string"
            },
            "example": "pro,enterprise"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with product offering details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductOfferingResponse"
                },
                "example": {
                  "organizationId": 6,
                  "countryCode": "US",
                  "pricingLocale": "en-US",
                  "currencyCode": "USD",
                  "currencySymbol": "$",
                  "currencyConversionRate": 1,
                  "baseCurrencyCode": "USD",
                  "baseCurrencySymbol": "$",
                  "plans": [
                    {
                      "name": "iBase",
                      "description": "",
                      "identifier": "i-base",
                      "details": {},
                      "isVisible": true,
                      "metadata": {},
                      "basePlan": null,
                      "price": {
                        "id": "43856a3d-255c-4f60-a17d-98e1d113bb98",
                        "priceType": "PAID",
                        "freeTrial": false,
                        "trialPeriod": 7,
                        "currency": "USD",
                        "enabled": true,
                        "charges": [
                          {
                            "id": "6bc6e8f7-5c52-48ae-b75b-0c652dddceb8",
                            "chargePeriod": "MONTHLY",
                            "tiers": [],
                            "priceData": { "amount": 19.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 19.0
                          },
                          {
                            "id": "d3ca0fb6-d478-424d-8621-56d1e15073bd",
                            "chargePeriod": "YEARLY",
                            "tiers": [],
                            "priceData": { "amount": 190.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 190.0
                          }
                        ]
                      },
                      "addons": [],
                      "originalPrice": { "MONTHLY": 19.0, "YEARLY": 190.0 },
                      "features": [],
                      "shouldHighlight": false,
                      "enabled": true,
                      "displayName": "iBase",
                      "displayDescription": "",
                      "includes": ""
                    },
                    {
                      "name": "iStandard",
                      "description": "",
                      "identifier": "i-standard",
                      "details": {},
                      "isVisible": true,
                      "metadata": {},
                      "basePlan": null,
                      "price": {
                        "id": "61f11451-5aed-4534-9c4c-44e0c47810a6",
                        "priceType": "PAID",
                        "freeTrial": false,
                        "trialPeriod": 7,
                        "currency": "USD",
                        "enabled": true,
                        "charges": [
                          {
                            "id": "4762b0c0-89b4-4f16-9779-ecd871d98a4e",
                            "chargePeriod": "MONTHLY",
                            "tiers": [],
                            "priceData": { "amount": 39.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 39.0
                          },
                          {
                            "id": "dfc2e342-317c-4d0c-bbf5-c1db43f63a42",
                            "chargePeriod": "YEARLY",
                            "tiers": [],
                            "priceData": { "amount": 390.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 390.0
                          }
                        ]
                      },
                      "addons": [],
                      "originalPrice": { "MONTHLY": 39.0, "YEARLY": 390.0 },
                      "features": [],
                      "shouldHighlight": false,
                      "enabled": true,
                      "displayName": "iStandard",
                      "displayDescription": "",
                      "includes": ""
                    },
                    {
                      "name": "iPremium",
                      "description": "",
                      "identifier": "i-premium",
                      "details": {},
                      "isVisible": true,
                      "metadata": {},
                      "basePlan": null,
                      "price": {
                        "id": "3b523320-ad1a-4922-b3e0-d504660e4747",
                        "priceType": "PAID",
                        "freeTrial": false,
                        "trialPeriod": 7,
                        "currency": "USD",
                        "enabled": true,
                        "charges": [
                          {
                            "id": "7a1f0b92-f49a-419b-8845-9b7f7706c566",
                            "chargePeriod": "MONTHLY",
                            "tiers": [],
                            "priceData": { "amount": 59.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 59.0
                          },
                          {
                            "id": "453c2a16-33dc-4585-8876-63b59504d8b5",
                            "chargePeriod": "YEARLY",
                            "tiers": [],
                            "priceData": { "amount": 590.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 590.0
                          }
                        ]
                      },
                      "addons": [],
                      "originalPrice": { "MONTHLY": 59.0, "YEARLY": 590.0 },
                      "features": [],
                      "shouldHighlight": false,
                      "enabled": true,
                      "displayName": "iPremium",
                      "displayDescription": "",
                      "includes": ""
                    },
                    {
                      "name": "freepaln",
                      "description": "",
                      "identifier": "freepaln",
                      "details": {},
                      "isVisible": true,
                      "metadata": {},
                      "basePlan": null,
                      "price": {
                        "id": "fc5b3277-474e-49d3-8dcf-edd9e46c5bab",
                        "priceType": "FREE",
                        "freeTrial": false,
                        "trialPeriod": 0,
                        "currency": "USD",
                        "enabled": true,
                        "charges": [
                          {
                            "id": "a9262eb9-447e-4d87-a781-8502432f1dbf",
                            "chargePeriod": "ONE_TIME",
                            "tiers": [],
                            "priceData": { "amount": 0.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 0.0
                          }
                        ]
                      },
                      "addons": [],
                      "originalPrice": { "ONE_TIME": 0.0 },
                      "features": [],
                      "shouldHighlight": false,
                      "enabled": true,
                      "displayName": "freepaln",
                      "displayDescription": "",
                      "includes": ""
                    },
                    {
                      "name": "iUltra",
                      "description": "",
                      "identifier": "i-ultra",
                      "details": {},
                      "isVisible": true,
                      "metadata": {},
                      "basePlan": null,
                      "price": {
                        "id": "28d8dd6e-e864-4188-958a-f16c9b4a5ae6",
                        "priceType": "PAID",
                        "freeTrial": true,
                        "trialPeriod": 7,
                        "currency": "USD",
                        "enabled": true,
                        "charges": [
                          {
                            "id": "7195b8ec-1262-413c-a84a-217427d0fdcc",
                            "chargePeriod": "MONTHLY",
                            "tiers": [],
                            "priceData": { "amount": 20.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 20.0
                          },
                          {
                            "id": "d4d6be26-dc10-40bb-9555-6db6985af8a4",
                            "chargePeriod": "YEARLY",
                            "tiers": [],
                            "priceData": { "amount": 230.0 },
                            "details": {},
                            "advanced": {},
                            "featureQuantityPrice": 230.0
                          }
                        ]
                      },
                      "addons": [],
                      "originalPrice": { "MONTHLY": 20.0, "YEARLY": 230.0 },
                      "features": [],
                      "shouldHighlight": false,
                      "enabled": true,
                      "displayName": "iUltra",
                      "displayDescription": "",
                      "includes": ""
                    }
                  ],
                  "subscription": {
                    "hasPreviousSubscription": false
                  },
                  "isCustomerExists": false,
                  "billingPeriods": [
                    {
                      "chargePeriod": "ONE_TIME",
                      "enabled": true,
                      "displayName": "One Time",
                      "promoCaption": "",
                      "defaultSelected": false
                    },
                    {
                      "chargePeriod": "MONTHLY",
                      "enabled": true,
                      "displayName": "Monthly",
                      "promoCaption": "",
                      "defaultSelected": false
                    },
                    {
[...]
