{
  "openapi": "3.0.0",
  "info": {
    "title": "kelviq API",
    "version": "1.0.0",
    "description": "API for interacting with kelviq services, derived from Python SDK documentation."
  },
  "servers": [
    {
      "url": "https://api.kelviq.com/api/v1",
      "description": "kelviq API Server (General - specific operations might override)"
    }
  ],
  "tags": [
    { "name": "Products", "description": "Catalog products." },
    { "name": "Product Settings", "description": "Per-product settings (currency, VPN/Tor/proxy, product URL)." },
    { "name": "Product Files", "description": "Product images and downloadable assets." },
    { "name": "Features", "description": "Catalog features that can be granted as plan entitlements." },
    { "name": "Plans", "description": "Catalog plans (CRUD, publish, versions, prices)." },
    { "name": "Plan Entitlements", "description": "Feature entitlements attached to a plan." },
    { "name": "Plan Files", "description": "Files attached to plans, and signed download links." },
    { "name": "Media", "description": "Generate presigned S3 upload URLs for product/plan images and files." },
    { "name": "Partner", "description": "Partner integration APIs (organization provisioning, lookup)." }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "The Server API Key obtained from the kelviq application. Pass as a Bearer token in the Authorization header. Example: 'Authorization: Bearer __YOUR_API_KEY__'"
      },
      "partnerKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Kelviq-Partner-Key",
        "description": "Partner integration secret issued by kelviq. Send the raw secret (prefixed `kvqp_`) in the `X-Kelviq-Partner-Key` header on every partner API request."
      }
    },
    "schemas": {
      "BillingAddress": {
        "type": "object",
        "nullable": true,
        "description": "The billing address of the customer.",
        "properties": {
          "country": {
            "type": "string",
            "description": "The country code (e.g., ISO 3166-1 alpha-2).",
            "example": "IN"
          },
          "line1": {
            "type": "string",
            "description": "Address line 1.",
            "example": "123 Main Street"
          },
          "line2": {
            "type": "string",
            "nullable": true,
            "description": "Address line 2.",
            "example": "Apt 4B"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal or ZIP code.",
            "example": "560001"
          },
          "city": {
            "type": "string",
            "description": "The city name.",
            "example": "Bangalore"
          },
          "state": {
            "type": "string",
            "description": "The state or province.",
            "example": "Karnataka"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "A status description for the error.",
            "example": "Bad request"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "Offering does not exists"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Server-generated unique UUID for the customer record.",
            "readOnly": true,
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "customerId": {
            "type": "string",
            "description": "The client-provided customer identifier.",
            "example": "unique-customer-id-123"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The customer's name.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The customer's email.",
            "example": "new.customer@example.com"
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Any server-added details about the customer (typically read-only).",
            "readOnly": true,
            "example": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "The metadata associated with the customer.",
            "example": {
              "source": "sdk_import",
              "priority": "high"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "createdOn": {
            "type": "string",
            "nullable": false,
            "description": "Customer created date and time",
            "example": "2025-06-04T06:03:30.195790Z"
          },
          "modifiedOn": {
            "type": "string",
            "nullable": false,
            "description": "Customer updated date and time",
            "example": "2025-06-04T06:03:30.195790Z"
          }
        }
      },
      "CustomerCreateRequest": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer that you define.",
            "example": "unique-customer-id-456"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The email address of the customer.",
            "example": "another.new.customer@example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the customer.",
            "example": "Jane Roe"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "A dictionary of custom key-value pairs.",
            "example": {
              "source": "sdk_import",
              "priority": "low"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        }
      },
      "CustomerUpdateRequest": {
        "type": "object",
        "description": "Fields for updating an existing customer. Only provided fields will be updated.",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "The email address of the customer.",
            "example": "jane.roe.updated@example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the customer.",
            "example": "Johnathan Doe"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true,
            "description": "A dictionary of custom key-value pairs. If provided, it typically replaces the existing metadata. Refer to API behavior for merge strategy.",
            "example": {
              "source": "sdk_import",
              "priority": "very_high",
              "status": "active"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          }
        }
      },
      "FeatureInput": {
        "type": "object",
        "required": [
          "identifier",
          "quantity"
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The unique identifier for the feature.",
            "example": "seats"
          },
          "quantity": {
            "type": "integer",
            "description": "The desired quantity for this feature.",
            "example": 5
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "successUrl",
          "chargePeriod"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the specific plan the customer is checking out with.",
            "example": "plan-pro-monthly"
          },
          "successUrl": {
            "type": "string",
            "format": "url",
            "description": "The URL to which the user will be redirected after a successful checkout.",
            "example": "https://kelviq.com/checkout/success"
          },
          "chargePeriod": {
            "type": "string",
            "description": "The billing cycle for the subscription.",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "example": "MONTHLY"
          },
          "customerId": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the customer initiating the checkout. If not provided, a new customer may be created depending on server logic.\n\n**Note:** Even if a unique customer ID is provided, if the email address already exists in the system, the subscription will be created for that existing email \u2014 not the new customer ID. This is to preserve the uniqueness of the email address.",
            "example": "cust_789"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "A list of features and their desired quantities. SDK documentation notes this as '**Required**', but usage may vary based on examples.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 5
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, used for location-based pricing.",
            "example": "103.154.35.20"
          },
          "cancelUrl": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "description": "The URL to which the user will be redirected if the payment is cancelled.",
            "example": "https://kelviq.com/checkout/cancel"
          },
          "plansEnabled": {
            "type": "string",
            "nullable": true,
            "description": "A comma-separated list of plan identifiers to display on the checkout page.",
            "example": "plan-pro-monthly,plan-pro-yearly"
          },
          "currencyCode": {
            "type": "string",
            "nullable": true,
            "description": "The currency code for the checkout session (e.g. 'USD'). Required when customAmount is provided with a server API key.",
            "example": "USD"
          },
          "customAmount": {
            "type": "number",
            "nullable": true,
            "description": "A custom amount to charge for this checkout session. When provided, taxBehavior is required. When using a server API key, currencyCode is also required.",
            "example": 2999
          },
          "taxBehavior": {
            "type": "string",
            "nullable": true,
            "description": "Specifies how taxes are applied to the custom amount. Required when customAmount is provided. INCLUSIVE means tax is included in the amount; EXCLUSIVE means tax is added on top.",
            "enum": ["INCLUSIVE", "EXCLUSIVE"],
            "example": "EXCLUSIVE"
          },
          "discountsEnabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether discount/coupon code entry is shown on the checkout page. Defaults to `true`.",
            "example": false
          },
          "discountCode": {
            "type": "string",
            "nullable": true,
            "description": "A discount/coupon code to pre-apply to the checkout session. The code is applied only if it is active, unexpired, and valid for the selected plan; otherwise the request fails with an error.",
            "example": "WELCOME20"
          },
          "lockEmail": {
            "type": "boolean",
            "nullable": true,
            "description": "When `true`, the email field on the checkout page is pre-filled and locked so the customer cannot change it. Defaults to `false`.",
            "example": true
          },
          "defaultBillingCountry": {
            "type": "string",
            "nullable": true,
            "description": "ISO 3166-1 alpha-2 country code used to pre-fill the billing address country on the checkout page.",
            "example": "US"
          }
        }
      },
      "CreateCheckoutSessionResponse": {
        "type": "object",
        "properties": {
          "checkoutUrl": {
            "type": "string",
            "format": "url",
            "description": "The URL that the customer should be redirected to complete the payment.",
            "example": "https://kelviq.com/checkout/cs_eeCGdGayc5oTMdGNV5XocfRk6o87K0vlwwCuKeiE7BLU9/"
          },
          "checkoutSessionId": {
            "type": "string",
            "description": "The unique ID for the created checkout session.",
            "example": "cs_eeCGdGayc5oTMdGNV5XocfRk6o87K0vlwwCuKeiE7BLU9"
          }
        }
      },
      "EntitlementDetail": {
        "type": "object",
        "properties": {
          "featureId": {
            "type": "string",
            "example": "advanced-analytics"
          },
          "hasAccess": {
            "type": "boolean",
            "example": true
          },
          "featureType": {
            "type": "string",
            "example": "METER"
          },
          "resetAt": {
            "type": "string",
            "description": "The reset timestamp for the entitlement (e.g., yyyy-MM-dd HH:mm:ss). Not necessarily ISO 8601.",
            "example": "2025-05-22 08:27:45"
          },
          "hardLimit": {
            "type": "boolean",
            "nullable": true,
            "example": false
          },
          "usageLimit": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 3
          },
          "currentUsage": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 0
          },
          "remaining": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "example": 3
          }
        }
      },
      "CheckEntitlementsResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "cust_456"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitlementDetail"
            }
          }
        }
      },
      "LicenseActivation": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "instanceName": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "customerId": "cust_45678",
          "instanceName": "Geo's MacBook Pro"
        }
      },
      "LicenseActivationResponse": {
        "type": "object",
        "properties": {
          "instanceId": {
            "type": "string",
            "format": "uuid"
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "license": {
            "$ref": "#/components/schemas/LicenseDetails"
          }
        },
        "example": {
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h",
          "activatedAt": "2026-01-27T10:33:00Z",
          "expiresOn": "2027-01-27T10:33:00Z",
          "license": {
            "id": "7be7a5b6-7a0e-4178-a085-8ef48f0649ab",
            "licenseKey": "LIC-A8D5F89E-B46B-472C-9BED-66EE2545B85E",
            "activatedOn": "2026-01-22T03:26:56Z",
            "expiresOn": "2026-01-23T03:26:56Z",
            "activationUsage": 1,
            "activationLimit": 4,
            "enabled": true,
            "customer": {
              "customerId": "cfa95cf8c8d24e8b9d3d2d1ada98a94d",
              "name": "Geo",
              "email": "geo@kelviq.com"
            },
            "plan": {
              "identifier": "pro-yearly",
              "name": "Pro Yearly",
              "product": {
                "id": "d970ab2d-834f-4c52-8742-2e6ed7e8a31f",
                "identifier": "kelviq-engine",
                "name": "Kelviq Engine",
                "taxCode": "software"
              }
            },
            "subscription": {
              "id": "09d706ca-58f3-4fb2-818f-5b8623d67e6e",
              "recurrence": "1 month",
              "billingPeriodStartTime": "2026-01-22T03:26:56Z",
              "billingPeriodEndTime": "2026-02-22T03:26:56Z",
              "startDate": "2026-01-22",
              "endDate": null,
              "status": "active",
              "amount": "49.00",
              "currency": "usd",
              "trialDaysRemaining": 0,
              "billingType": "SUBSCRIPTION",
              "recurrenceUnit": 1,
              "recurrenceType": "MONTH"
            }
          }
        }
      },
      "LicenseDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "licenseKey": {
            "type": "string"
          },
          "activatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "activationUsage": {
            "type": "integer"
          },
          "activationLimit": {
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          },
          "customer": {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          },
          "plan": {
            "type": "object",
            "properties": {
              "identifier": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "product": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "taxCode": {
                    "type": "string"
                  },
                  "createdOn": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedOn": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "version": {
                "type": "integer"
              },
              "isLatest": {
                "type": "boolean"
              }
            }
          },
          "subscription": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "recurrence": {
                "type": "string",
                "nullable": true
              },
              "billingPeriodStartTime": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "billingPeriodEndTime": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "amount": {
                "type": "string",
                "nullable": true
              },
              "currency": {
                "type": "string",
                "nullable": true
              },
              "trialDaysRemaining": {
                "type": "integer"
              },
              "billingType": {
                "type": "string",
                "enum": ["SUBSCRIPTION", "ONE_TIME"]
              },
              "recurrenceUnit": {
                "type": "integer",
                "nullable": true
              },
              "recurrenceType": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "LicenseDeactivation": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "instanceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "instanceId",
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
        }
      },
      "LicenseDeactivationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "deactivatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "example": {
          "message": "License instance deactivated successfully.",
          "deactivatedAt": "2026-01-27T10:35:00Z"
        }
      },
      "LicenseValidate": {
        "type": "object",
        "properties": {
          "licenseKey": {
            "type": "string"
          },
          "instanceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "licenseKey"
        ],
        "example": {
          "licenseKey": "KLVQ-PRO-1234-ABCD-9999",
          "instanceId": "8f3e2b1a-5c6d-4e9f-8a0b-1c2d3e4f5g6h"
        }
      },
      "LicenseValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "license": {
            "$ref": "#/components/schemas/LicenseDetails"
          }
        },
        "example": {
          "valid": true,
          "code": "VALID",
          "detail": "Instance ID valid for this license.",
          "metadata": {
            "os": "macOS",
            "arch": "arm64"
          },
          "license": {
            "id": "7be7a5b6-7a0e-4178-a085-8ef48f0649ab",
            "licenseKey": "LIC-A8D5F89E-B46B-472C-9BED-66EE2545B85E",
            "activatedOn": "2026-01-22T03:26:56Z",
            "expiresOn": "2026-01-23T03:26:56Z",
            "activationUsage": 1,
            "activationLimit": 4,
            "enabled": true,
            "customer": {
              "customerId": "cfa95cf8c8d24e8b9d3d2d1ada98a94d",
              "name": "Geo",
              "email": "geo@kelviq.com"
            },
            "plan": {
              "identifier": "pro-yearly",
              "name": "Pro Yearly",
              "product": {
                "id": "d970ab2d-834f-4c52-8742-2e6ed7e8a31f",
                "identifier": "kelviq-engine",
                "name": "Kelviq Engine",
                "taxCode": "software"
              }
            },
            "subscription": {
              "id": "09d706ca-58f3-4fb2-818f-5b8623d67e6e",
              "recurrence": "1 month",
              "billingPeriodStartTime": "2026-01-22T03:26:56Z",
              "billingPeriodEndTime": "2026-02-22T03:26:56Z",
              "startDate": "2026-01-22",
              "endDate": null,
              "status": "active",
              "amount": "49.00",
              "currency": "usd",
              "trialDaysRemaining": 0,
              "billingType": "SUBSCRIPTION",
              "recurrenceUnit": 1,
              "recurrenceType": "MONTH"
            }
          }
        }
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "chargePeriod",
          "customerId"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the specific plan the customer is subscribing to.",
            "example": "plan-pro-monthly"
          },
          "successUrl": {
            "type": "string",
            "format": "url",
            "nullable": true,
            "description": "The URL to which the user will be redirected after a successful subscription creation. Optional.",
            "example": "https://kelviq.com/subscription/success"
          },
          "chargePeriod": {
            "type": "string",
            "description": "The billing cycle for the subscription. If the plan is free, pass `ONE_TIME` as the chargePeriod.",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "example": "MONTHLY"
          },
          "customerId": {
            "type": "string",
            "nullable": true,
            "description": "The ID of the customer creating the subscription.",
            "example": "cust_789"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "A list of features and their desired quantities.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 5
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, used for location-based pricing.",
            "example": "103.154.35.20"
          }
        }
      },
      "CreateSubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier of the created subscription.",
            "example": "520ca8a5-9fc0-4d6a-bc7a-2ba331595441"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The start date of the subscription.",
            "example": "2026-02-07"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The end date of the subscription, if applicable.",
            "example": null
          },
          "billingPeriodStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the current billing period.",
            "example": "2026-02-07T06:02:05Z"
          },
          "billingPeriodEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "The end time of the current billing period.",
            "example": "2026-02-08T06:02:05Z"
          },
          "amount": {
            "type": "string",
            "description": "The subscription amount.",
            "example": "2000.00"
          },
          "recurrence": {
            "type": "string",
            "description": "The recurrence interval of the subscription.",
            "example": "month"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the subscription.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "trialing"
          },
          "product": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the product.",
                "example": "Invoice Test"
              },
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "The unique identifier of the product.",
                "example": "88e437b8-6017-405b-9328-e0f4e140bb79"
              },
              "identifier": {
                "type": "string",
                "description": "The identifier of the product.",
                "example": "invoice-test"
              }
            }
          },
          "plan": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the plan.",
                "example": "iUltra"
              },
              "identifier": {
                "type": "string",
                "description": "The identifier of the plan.",
                "example": "i-ultra"
              }
            }
          },
          "features": {
            "type": "array",
            "items": {},
            "description": "List of features included in the subscription."
          },
          "trialDaysRemaining": {
            "type": "integer",
            "description": "Number of trial days remaining.",
            "example": 1
          },
          "customerId": {
            "type": "string",
            "description": "The customer identifier associated with this subscription.",
            "example": "geojacob"
          }
        }
      },
      "DetailErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "A human-readable error message.",
            "example": "Customer does not exist."
          }
        }
      },
      "ReportUsageRequest": {
        "type": "object",
        "required": [
          "value",
          "customerId",
          "featureId",
          "behaviour"
        ],
        "properties": {
          "value": {
            "type": "integer",
            "description": "The usage value being reported.",
            "example": 150
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with this usage.",
            "example": "customer_001"
          },
          "featureId": {
            "type": "string",
            "description": "Unique identifier for the feature for which usage is being reported.",
            "example": "seats"
          },
          "behaviour": {
            "type": "string",
            "enum": [
              "SET",
              "DELTA"
            ],
            "description": "Dictates how the usage is updated. SET replaces, DELTA increments.",
            "example": "SET"
          }
        }
      },
      "ReportUsageResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "example": 150
          },
          "customerId": {
            "type": "string",
            "example": "customer_001"
          },
          "featureId": {
            "type": "string",
            "example": "seats"
          },
          "behaviour": {
            "type": "string",
            "enum": [
              "SET",
              "DELTA"
            ],
            "example": "SET"
          },
          "orgId": {
            "type": "string",
            "example": "1"
          },
          "eventName": {
            "type": "string",
            "description": "Internal event name (e.g., \"aggregated.usage\").",
            "example": "aggregated.usage"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Server-generated unique idempotency key for this usage report instance.",
            "example": "597ee95063c744ed9bcc9b1cf5676a8a"
          },
          "timestamp": {
            "type": "string",
            "description": "Server-generated UTC timestamp (e.g., yyyy-MM-dd HH:mm:ss.ffffff) when the report was processed.",
            "example": "2025-05-22 08:27:45.430732"
          }
        }
      },
      "ReportEventRequest": {
        "type": "object",
        "required": [
          "customerId",
          "eventName",
          "idempotencyKey",
          "timestamp"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer who performed the event.",
            "example": "customer_002"
          },
          "eventName": {
            "type": "string",
            "description": "Name of the event (e.g., \"user_login\", \"item_purchased\").",
            "example": "api_invoked"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Client-generated unique key (UUID recommended) to ensure at-most-once processing.",
            "example": "45f05c73-7a0b-44d4-82c6-042816d5645d"
          },
          "timestamp": {
            "type": "string",
            "description": "UTC timestamp when the event occurred (Format: yyyy-MM-dd HH:mm:ss.ffffff).",
            "example": "2025-05-22 07:53:55.747959"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Custom key-value pairs associated with the event.",
            "example": {
              "featureId": "api-usage",
              "value": 2
            }
          }
        }
      },
      "ReportEventResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "customer_002"
          },
          "eventName": {
            "type": "string",
            "example": "api_invoked"
          },
          "idempotencyKey": {
            "type": "string",
            "example": "45f05c737a0b44d482c6042816d5645d"
          },
          "timestamp": {
            "type": "string",
            "example": "2025-05-22 07:53:55.747959"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "example": {
              "featureId": "api-usage",
              "value": 2
            }
          },
          "orgId": {
            "type": "string",
            "example": "1"
          }
        }
      },
      "UpdateSubscriptionRequest": {
        "type": "object",
        "required": [
          "planIdentifier",
          "chargePeriod"
        ],
        "properties": {
          "planIdentifier": {
            "type": "string",
            "description": "The identifier of the new plan.",
            "example": "new_plan_enterprise"
          },
          "chargePeriod": {
            "type": "string",
            "enum": [
              "ONE_TIME",
              "MONTHLY",
              "YEARLY",
              "WEEKLY",
              "DAILY",
              "THREE_MONTHS",
              "SIX_MONTHS"
            ],
            "description": "The new charging period for the subscription.",
            "example": "YEARLY"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeatureInput"
            },
            "nullable": true,
            "description": "List of features and quantities to update for the subscription.",
            "example": [
              {
                "identifier": "seats",
                "quantity": 10
              }
            ]
          },
          "ipAddress": {
            "type": "string",
            "nullable": true,
            "description": "The IP Address of the customer, for location-based pricing.",
            "example": "103.154.35.20"
          },
          "trialEnd": {
            "type": "string",
            "nullable": true,
            "description": "Controls the trial period for the updated subscription. Accepts either the literal string `\"now\"` to end any active trial immediately, or an ISO 8601 datetime string (e.g. `\"2025-05-22 08:27:45.430732\"`) to set a new trial end date. The datetime must be in the future. If omitted, the existing trial behavior is preserved.",
            "example": "2025-12-31 23:59:59"
          }
        }
      },
      "UpdateSubscriptionResponse": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "example": "dffaf07e-4517-47db-ba3a-59a05aa2d465"
          }
        }
      },
      "CreatePortalSessionRequest": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer for whom the portal session is being created.",
            "example": "cust_789"
          }
        }
      },
      "CreatePortalSessionResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The session token for authenticating the customer portal session.",
            "example": "cpt-4f7c5dc4-da9f-447b-d447-6266dc35ed6d:23fca530-adeb-4685-b3d5-9928c6d38275"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the customer.",
            "example": "geo@example.com"
          },
          "customerPortalUrl": {
              "type": "string",
              "format": "url",
              "description": "The `customerPortalUrl` field contains the customer’s billing portal URL. This URL alone does not authenticate the customer session. To generate a signed portal link, append the `token` value from the same response as a query parameter using the following format:\n\n`${customerPortalUrl}?token=${token}`\n\nExample response:\n\n```json\n{\n  \"token\": \"cpt-4f7c5dc4-da9f-447b-d447-6266dc35ed6d:23fca530-adeb-4685-b3d5-9928c6d38275\",\n  \"email\": \"geo@example.com\",\n  \"customerPortalUrl\": \"https://www.kelviq.com/portal/aphelo/\"\n}\n```\n\nGenerated signed portal link:\n\n`https://www.kelviq.com/portal/aphelo/?token=cpt-4f7c5dc4-da9f-447b-d447-6266dc35ed6d:23fca530-adeb-4685-b3d5-9928c6d38275`\n\nThe generated URL can be safely shared with the customer to provide direct access to their billing portal session."

          }
        }
      },
      "CancelSubscriptionRequest": {
        "type": "object",
        "required": [
          "cancellationType"
        ],
        "properties": {
          "cancellationType": {
            "type": "string",
            "enum": [
              "IMMEDIATE",
              "CURRENT_PERIOD_ENDS",
              "SPECIFIC_DATE"
            ],
            "description": "Type of cancellation to perform.",
            "example": "IMMEDIATE"
          },
          "cancellationDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Required if cancellationType is 'SPECIFIC_DATE'. Format: yyyy-MM-dd.",
            "example": "2025-12-31"
          }
        }
      },
      "CancelSubscriptionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Subscription cancellation processed successfully."
          }
        }
      },
      "PublicOfferingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pricingTable": {
            "$ref": "#/components/schemas/PricingTable"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          },
          "countryCode": {
            "type": "string"
          },
          "pricingLocale": {
            "type": "string"
          },
          "currencyCode": {
            "type": "string"
          },
          "currencySymbol": {
            "type": "string"
          },
          "baseCurrencyCode": {
            "type": "string"
          },
          "baseCurrencySymbol": {
            "type": "string"
          },
          "subscription": {
            "$ref": "#/components/schemas/SubscriptionInfo",
            "nullable": true
          },
          "isCustomerExists": {
            "type": "boolean"
          },
          "billingPeriods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriod"
            }
          }
        }
      },
      "ProductOfferingResponse": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "integer",
            "description": "The internal ID of the organization that owns this product."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code resolved from the request."
          },
          "pricingLocale": {
            "type": "string",
            "description": "BCP 47 locale tag used for price formatting (e.g. \"en-US\")."
          },
          "currencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code for the resolved locale (e.g. \"USD\")."
          },
          "currencySymbol": {
            "type": "string"
          },
          "currencyConversionRate": {
            "type": "number",
            "description": "Conversion rate from the base currency to the resolved currency."
          },
          "baseCurrencyCode": {
            "type": "string"
          },
          "baseCurrencySymbol": {
            "type": "string"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductPlan"
            }
          },
          "subscription": {
            "type": "object",
            "properties": {
              "hasPreviousSubscription": {
                "type": "boolean"
              },
              "planIdentifier": {
                "type": "string",
                "nullable": true
              },
              "subscriptionId": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "chargePeriod": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "isCustomerExists": {
            "type": "boolean"
          },
          "billingPeriods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriod"
            }
          }
        }
      },
      "ProductPlan": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "identifier": { "type": "string" },
          "details": { "type": "object" },
          "isVisible": { "type": "boolean" },
          "metadata": { "type": "object" },
          "basePlan": { "nullable": true },
          "price": { "$ref": "#/components/schemas/FeaturePrice" },
          "originalPrice": {
            "type": "object",
            "description": "Map of chargePeriod to base price amount (e.g. {\"MONTHLY\": 19.0, \"YEARLY\": 190.0})."
          },
          "features": { "type": "array", "items": {} },
          "shouldHighlight": { "type": "boolean" },
          "enabled": { "type": "boolean" },
          "displayName": { "type": "string" },
          "displayDescription": { "type": "string" },
          "includes": { "type": "string" }
        }
      },
      "PricingTable": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "style": {
            "type": "object"
          },
          "typography": {
            "type": "object"
          },
          "layout": {
            "type": "object"
          },
          "template": {
            "nullable": true
          },
          "descriptionTooltipEnabled": {
            "type": "boolean"
          },
          "pricingOptions": {
            "type": "object"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isVisible": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "price": {
            "$ref": "#/components/schemas/FeaturePrice"
          },
          "originalPrice": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          },
          "displayName": {
            "type": "string"
          },
          "shouldHighlight": {
            "type": "boolean"
          },
          "displayDescription": {
            "type": "string"
          }
        }
      },
      "FeaturePrice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "priceType": {
            "type": "string"
          },
          "freeTrial": {
            "type": "boolean"
          },
          "trialPeriod": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "chargePeriod": {
            "type": "string"
          },
          "tiers": {
            "type": "array",
            "items": {}
          },
          "priceData": {
            "type": "object"
          },
          "details": {
            "type": "object"
          },
          "advanced": {
            "type": "object"
          },
          "featureQuantityPrice": {
            "type": "number"
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "identifier": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "displayDescription": {
            "type": "string"
          },
          "displayTooltipDescription": {
            "type": "boolean"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "featureType": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isArchived": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time"
          },
          "meter": {
            "type": "object"
          },
          "featureDetails": {
            "type": "object"
          },
          "value": {
            "nullable": true
          },
          "hardLimit": {
            "type": "boolean",
            "nullable": true
          },
          "reset": {
            "type": "string",
            "nullable": true
          },
          "resetTime": {
            "type": "string",
            "nullable": true
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            },
            "nullable": true
          }
        }
      },
      "SubscriptionInfo": {
        "type": "object",
        "properties": {
          "planIdentifier": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {}
          },
          "subscriptionId": {
            "type": "string",
            "format": "uuid"
          },
          "chargePeriod": {
            "type": "string"
          },
          "hasPreviousSubscription": {
            "type": "boolean"
          }
        }
      },
      "BillingPeriod": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string"
          },
          "chargePeriod": {
            "type": "string"
          },
          "promoCaption": {
            "type": "string"
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalSubscriptionId": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "billingPeriodStartTime": {
            "type": "string",
            "format": "date-time"
          },
          "billingPeriodEndTime": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "string"
          },
          "recurrence": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/SubscriptionPlan"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionFeatureDetail"
            }
          },
          "trialDaysRemaining": {
            "type": "integer"
          },
          "customerId": {
            "type": "string"
          },
          "billingType": {
            "type": "string",
            "enum": ["SUBSCRIPTION", "ONE_TIME"]
          },
          "recurrenceUnit": {
            "type": "integer",
            "nullable": true
          },
          "recurrenceType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SubscriptionPlan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "SubscriptionFeatureDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "featureType": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "isArchived": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time"
          },
          "meter": {
            "type": "object"
          },
          "featureDetails": {
            "type": "object",
            "properties": {
              "units": {
                "type": "object",
                "properties": {
                  "plural": {
                    "type": "string"
                  },
                  "singular": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "reset": {
            "type": "string",
            "nullable": true
          },
          "resetTime": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer"
          },
          "hardLimit": {
            "type": "boolean"
          }
        }
      },
      "PromotionResponse": {
        "type": "object",
        "description": "Promotion data resolved for the visitor's detected location.",
        "properties": {
          "country": {
            "type": "string",
            "description": "Full name of the visitor's detected country.",
            "example": "India"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "IN"
          },
          "percentage": {
            "type": "number",
            "description": "Discount percentage for the visitor's country. `0` means no active discount.",
            "example": 40
          },
          "code": {
            "type": "string",
            "description": "Coupon code the visitor can apply at checkout.",
            "example": "KQP5LHNZB1Z"
          },
          "message": {
            "type": "string",
            "description": "Optional plain-text message. Usually empty \u2014 the banner message is in `widgets[].countryMessage`.",
            "example": ""
          },
          "widgets": {
            "type": "array",
            "description": "UI widgets configured for this promotion. Currently contains one `BANNER` widget.",
            "items": {
              "$ref": "#/components/schemas/PromotionWidget"
            }
          },
          "security": {
            "$ref": "#/components/schemas/PromotionSecurity"
          }
        }
      },
      "PromotionWidget": {
        "type": "object",
        "description": "Banner widget configuration returned by the promotion API.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BANNER"
            ],
            "description": "Widget type. Currently always `BANNER`.",
            "example": "BANNER"
          },
          "backgroundColor": {
            "type": "string",
            "description": "Banner background color (hex).",
            "example": "#3182CE"
          },
          "fontColor": {
            "type": "string",
            "description": "Main text color.",
            "example": "#F9F9F9"
          },
          "highlightFontColor": {
            "type": "string",
            "description": "Color for emphasized text such as the discount percentage.",
            "example": "#DD5C64"
          },
          "fontSize": {
            "type": "string",
            "description": "Font size as a CSS value.",
            "example": "1rem"
          },
          "borderRadius": {
            "type": "string",
            "description": "Banner border radius as a CSS value.",
            "example": "0"
          },
          "placement": {
            "type": "string",
            "enum": [
              "top",
              "bottom"
            ],
            "description": "Viewport position of the banner.",
            "example": "top"
          },
          "unStyled": {
            "type": "boolean",
            "description": "When `true`, no default styles are injected. Apply your own CSS from scratch.",
            "example": false
          },
          "addCloseIcon": {
            "type": "boolean",
            "description": "When `true`, a close button is shown on the banner.",
            "example": false
          },
          "countryMessage": {
            "type": "string",
            "description": "Banner message template. Supports: `{country}`, `{country_flag}`, `{coupon_code}`, `{discount_percentage}`. HTML tags are allowed.",
            "example": "Hello {country_flag} You're from <b>{country}</b>. Use code <b>\"{coupon_code}\"</b> for <b>{discount_percentage}%</b> off."
          }
        }
      },
      "PromotionSecurity": {
        "type": "object",
        "description": "Security check results for the visitor. `true` means the check flagged the request.",
        "properties": {
          "vpn": {
            "type": "boolean",
            "description": "`true` if a VPN was detected.",
            "example": false
          },
          "tor": {
            "type": "boolean",
            "description": "`true` if Tor Browser was detected.",
            "example": false
          },
          "proxy": {
            "type": "boolean",
            "description": "`true` if a proxy server was detected.",
            "example": false
          },
          "relay": {
            "type": "boolean",
            "description": "`true` if Apple Private Relay was detected.",
            "example": false
          },
          "crawler": {
            "type": "boolean",
            "description": "`true` if the request is identified as a bot or crawler.",
            "example": false
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "description": "An image asset attached to a product.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "Unique identifier for the image.",
            "example": "1f7e1b54-7c6f-4d7e-9a4f-2c9c2d8b9d31"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Original filename or display name.",
            "example": "hero-banner.png"
          },
          "image": {
            "type": "string",
            "readOnly": true,
            "description": "Storage key / URL for the image asset.",
            "example": "media/.../products/<id>/<uuid>/hero-banner.png"
          },
          "ordering": {
            "type": "integer",
            "description": "Position of the image in the gallery.",
            "example": 0
          },
          "thumbnail": {
            "type": "boolean",
            "description": "If `true`, this image is used as the product thumbnail.",
            "example": true
          },
          "enabled": {
            "type": "boolean",
            "description": "If `true`, the image is shown publicly.",
            "example": true
          }
        }
      },
      "ProductImageUpdateRequest": {
        "type": "object",
        "description": "Editable fields on a product image. The underlying file cannot be changed; upload a new image instead.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name.",
            "example": "primary-hero.png"
          },
          "ordering": {
            "type": "integer",
            "description": "Position in the gallery.",
            "example": 1
          },
          "thumbnail": {
            "type": "boolean",
            "description": "If `true`, marks this image as the product thumbnail and unsets the flag on other images.",
            "example": true
          },
          "enabled": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ProductFile": {
        "type": "object",
        "description": "A downloadable file attached to a product.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "example": "8d2f1cf4-9c4f-44a8-9b39-c98f3a39a6c1"
          },
          "name": {
            "type": "string",
            "description": "Display name shown to customers.",
            "example": "Getting Started Guide.pdf"
          },
          "file": {
            "type": "string",
            "readOnly": true,
            "description": "Storage key for the file.",
            "example": "media/.../products/<id>/<uuid>/guide.pdf"
          },
          "ordering": {
            "type": "integer",
            "example": 0
          },
          "enabled": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ProductFileUpdateRequest": {
        "type": "object",
        "description": "Editable fields on a product file. The file content cannot be replaced; upload a new file instead.",
        "properties": {
          "name": {
            "type": "string",
            "example": "Onboarding Guide.pdf"
          },
          "ordering": {
            "type": "integer",
            "example": 2
          },
          "enabled": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "A product in the catalog. Each product can have multiple plans, images and files.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "example": "0d65f7c0-7e91-4f56-9b32-13a9a6a7c1de"
          },
          "identifier": {
            "type": "string",
            "description": "Human-readable, URL-safe slug. Auto-generated from `name` if omitted on create.",
            "example": "pro-suite"
          },
          "name": {
            "type": "string",
            "example": "Pro Suite"
          },
          "description": {
            "type": "string",
            "example": "Premium tools for growing teams."
          },
          "taxCode": {
            "type": "string",
            "description": "Tax code for the product. Must be one of the supported values.",
            "enum": [
              "saas",
              "saas_business",
              "software",
              "videocontent",
              "informationservice",
              "ebook",
              "digitalgraphic",
              "videogame",
              "eservice",
              "training"
            ],
            "example": "saas"
          },
          "createdBy": {
            "type": "string",
            "readOnly": true,
            "description": "Display name of the user who created the product.",
            "example": "Jane Smith"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2025-04-12T08:21:14.910Z"
          },
          "images": {
            "type": "array",
            "readOnly": true,
            "items": { "$ref": "#/components/schemas/ProductImage" }
          }
        }
      },
      "ProductRetrieve": {
        "type": "object",
        "description": "A product returned via the detail endpoint, including its published plans.",
        "allOf": [
          { "$ref": "#/components/schemas/Product" },
          {
            "type": "object",
            "properties": {
              "plans": {
                "type": "array",
                "description": "Identifiers of all published (latest, non-archived) plans on this product.",
                "items": { "type": "string" },
                "example": ["pro-monthly", "pro-annual"]
              }
            }
          }
        ]
      },
      "ProductCreateRequest": {
        "type": "object",
        "required": ["name", "taxCode"],
        "description": "Payload to create a new product.",
        "properties": {
          "name": { "type": "string", "example": "ParityDeals" },
          "identifier": {
            "type": "string",
            "description": "Optional URL-safe slug. Auto-generated from name if not supplied.",
            "example": "parity-deals"
          },
          "description": { "type": "string", "example": "" },
          "taxCode": {
            "type": "string",
            "description": "Tax code for the product. Must be one of the supported values.",
            "enum": [
              "saas",
              "saas_business",
              "software",
              "videocontent",
              "informationservice",
              "ebook",
              "digitalgraphic",
              "videogame",
              "eservice",
              "training"
            ],
            "example": "saas"
          },
          "imageKeys": {
            "type": "array",
            "description": "Temporary S3 keys (e.g. `tmp/<uuid>/<filename>`) returned by the upload endpoint. They will be moved into permanent storage and attached as `ProductImage` records.",
            "items": { "type": "string" },
            "example": ["tmp/108713b0-1f81-42cf-a16c-c83b1d4d4148/web-app-manifest-512x512.png"]
          }
        },
        "example": {
          "name": "ParityDeals",
          "description": "",
          "identifier": "parity-deals",
          "imageKeys": [
            "tmp/108713b0-1f81-42cf-a16c-c83b1d4d4148/web-app-manifest-512x512.png"
          ],
          "taxCode": "saas"
        }
      },
      "ProductUpdateRequest": {
        "type": "object",
        "description": "Payload for `PATCH /products/{id}/`. Most identifying fields are read-only.",
        "properties": {
          "name": { "type": "string", "example": "Pro Suite v2" },
          "description": { "type": "string", "example": "Updated description." },
          "taxCode": {
            "type": "string",
            "description": "Tax code for the product. Must be one of the supported values.",
            "enum": [
              "saas",
              "saas_business",
              "software",
              "videocontent",
              "informationservice",
              "ebook",
              "digitalgraphic",
              "videogame",
              "eservice",
              "training"
            ],
            "example": "saas"
          },
          "imageKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional temporary S3 keys to append to the product's images.",
            "example": ["tmp/new-hero.jpg"]
          },
          "fileKeys": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["tmp/changelog.pdf"]
          }
        }
      },
      "ProductSettings": {
        "type": "object",
        "description": "Behavioural and presentation settings attached to a product.",
        "properties": {
          "vpn": {
            "type": "boolean",
            "description": "If `true`, VPN traffic is allowed for this product's experience.",
            "example": true
          },
          "tor": {
            "type": "boolean",
            "description": "If `true`, Tor traffic is allowed.",
            "example": true
          },
          "proxy": {
            "type": "boolean",
            "description": "If `true`, proxy traffic is allowed.",
            "example": true
          },
          "currency": {
            "type": "string",
            "description": "Default currency for the product.",
            "example": "USD"
          },
          "productUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Public URL of the product.",
            "example": "https://app.example.com"
          }
        }
      },
      "ProductSettingsUpdateRequest": {
        "type": "object",
        "description": "Partial update to product settings. Any subset of fields may be supplied.",
        "properties": {
          "vpn": { "type": "boolean", "example": false },
          "tor": { "type": "boolean", "example": false },
          "proxy": { "type": "boolean", "example": true },
          "currency": { "type": "string", "example": "EUR" },
          "productUrl": { "type": "string", "format": "uri", "example": "https://app.example.com" }
        }
      },
      "CatalogFeature": {
        "type": "object",
        "description": "A feature that can be granted as an entitlement on a plan.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "example": "3a3e92ab-90a3-4f43-8e87-9d4c8c5a9c01"
          },
          "identifier": {
            "type": "string",
            "description": "URL-safe slug, auto-generated from name if not provided.",
            "example": "api-calls"
          },
          "name": { "type": "string", "example": "API Calls" },
          "description": { "type": "string", "example": "Number of API calls per billing cycle." },
          "featureType": {
            "type": "string",
            "enum": ["BOOLEAN", "CUSTOMIZABLE", "METER"],
            "description": "BOOLEAN: on/off flag. CUSTOMIZABLE: numeric limit. METER: usage-based metering.",
            "example": "METER"
          },
          "featureDetails": {
            "type": "object",
            "description": "Configuration for the feature. For METER features, expects `featureSubType` (PRE_AGGREGATED_USAGE or RAW_EVENTS), `units`, and optionally `customerUnit` for unit conversion.",
            "additionalProperties": true,
            "example": {
              "featureSubType": "PRE_AGGREGATED_USAGE",
              "units": { "singular": "call", "plural": "calls" }
            }
          },
          "meter": {
            "type": "object",
            "description": "For RAW_EVENTS meter features: an object with `aggregation` (function, field) and `filters`.",
            "additionalProperties": true,
            "example": {}
          },
          "details": {
            "type": "object",
            "readOnly": true,
            "additionalProperties": true,
            "example": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "example": { "category": "core" }
          },
          "isArchived": {
            "type": "boolean",
            "readOnly": true,
            "example": false
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2025-04-12T08:21:14.910Z"
          }
        }
      },
      "FeatureCreateRequest": {
        "type": "object",
        "required": ["name", "featureType"],
        "properties": {
          "name": { "type": "string", "example": "API Calls" },
          "identifier": { "type": "string", "example": "api-calls" },
          "description": { "type": "string", "example": "Number of API calls per billing cycle." },
          "featureType": {
            "type": "string",
            "enum": ["BOOLEAN", "CUSTOMIZABLE", "METER"],
            "example": "METER"
          },
          "featureDetails": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "featureSubType": "PRE_AGGREGATED_USAGE",
              "units": { "singular": "call", "plural": "calls" }
            }
          },
          "meter": {
            "type": "object",
            "additionalProperties": true,
            "example": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "example": {}
          }
        }
      },
      "FeatureUpdateRequest": {
        "type": "object",
        "description": "Patch payload for a feature. `identifier`, `featureType`, `featureDetails`, `meter` and `details` are read-only after creation.",
        "properties": {
          "name": { "type": "string", "example": "API Calls (renamed)" },
          "description": { "type": "string", "example": "Updated description." },
          "metadata": { "type": "object", "additionalProperties": true, "example": {} }
        }
      },
      "PlanLink": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Product page" },
          "url": { "type": "string", "format": "uri", "example": "https://example.com/product" }
        }
      },
      "PlanFile": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "readOnly": true, "example": "7a3e3411-cef0-4f4e-bdb6-1f74a4f4d2c0" },
          "name": { "type": "string", "example": "Plan Terms.pdf" },
          "file": { "type": "string", "readOnly": true, "example": "media/.../plans/<id>/<uuid>/terms.pdf" },
          "ordering": { "type": "integer", "example": 0 },
          "enabled": { "type": "boolean", "example": true },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "description": "URL clients can hit to download the file. Will redirect to a forced-download URL.",
            "example": "https://api.kelviq.com/api/v1/catalog/plans/pro-monthly/file/7a3e3411-cef0-4f4e-bdb6-1f74a4f4d2c0/download/"
          }
        }
      },
      "PlanFileUpdateRequest": {
        "type": "object",
        "description": "Update display fields of a plan file. The underlying file cannot be replaced.",
        "properties": {
          "name": { "type": "string", "example": "Plan Terms (v2).pdf" },
          "ordering": { "type": "integer", "example": 1 },
          "enabled": { "type": "boolean", "example": true }
        }
      },
      "LicenseConfig": {
        "type": "object",
        "description": "License configuration for a plan (used when issuing license keys).",
        "properties": {
          "enabled": { "type": "boolean", "example": true },
          "activationLimit": { "type": "integer", "minimum": 1, "example": 3 },
          "activationLimitEnabled": { "type": "boolean", "example": true },
          "durationUnit": {
            "type": "string",
            "enum": ["DAY", "MONTH", "YEAR"],
            "example": "YEAR"
          },
          "durationValue": { "type": "integer", "minimum": 1, "example": 1 },
          "hasExpiry": { "type": "boolean", "example": true }
        }
      },
      "CatalogPlan": {
        "type": "object",
        "description": "A versioned plan attached to a product. Updates create new versions; only the published version is `is_latest=true`.",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "URL-safe slug. Stable across versions.",
            "example": "pro-monthly"
          },
          "name": { "type": "string", "example": "Pro Monthly" },
          "description": { "type": "string", "example": "Pro tier billed monthly." },
          "product": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the parent product.",
            "example": "0d65f7c0-7e91-4f56-9b32-13a9a6a7c1de"
          },
          "metadata": { "type": "object", "additionalProperties": true, "example": {} },
          "version": { "type": "integer", "readOnly": true, "example": 3 },
          "isLatest": {
            "type": "boolean",
            "readOnly": true,
            "description": "True only for the currently published version.",
            "example": true
          },
          "modifiedOn": { "type": "string", "format": "date-time", "readOnly": true, "example": "2025-04-12T08:21:14.910Z" },
          "createdOn": { "type": "string", "format": "date-time", "readOnly": true, "example": "2025-03-01T08:21:14.910Z" },
          "details": {
            "type": "object",
            "readOnly": true,
            "additionalProperties": true,
            "description": "Provider-side identifiers (e.g. `stripeProductId`).",
            "example": { "stripeProductId": "prod_ABC123" }
          },
          "isVisible": { "type": "boolean", "example": true },
          "isImported": { "type": "boolean", "readOnly": true, "example": false },
          "countries": {
            "type": "array",
            "readOnly": true,
            "items": { "type": "string" },
            "example": ["US", "IN"]
          },
          "license": { "$ref": "#/components/schemas/LicenseConfig" },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanLink" }
          },
          "files": {
            "type": "array",
            "readOnly": true,
            "items": { "$ref": "#/components/schemas/PlanFile" }
          },
          "ordering": { "type": "integer", "nullable": true, "example": 1 }
        }
      },
      "PlanCreateRequest": {
        "type": "object",
        "required": ["name", "product"],
        "properties": {
          "name": { "type": "string", "example": "Pro Monthly" },
          "identifier": { "type": "string", "example": "pro-monthly" },
          "description": { "type": "string", "example": "Pro tier billed monthly." },
          "product": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the parent product.",
            "example": "0d65f7c0-7e91-4f56-9b32-13a9a6a7c1de"
          },
          "metadata": { "type": "object", "additionalProperties": true, "example": {} },
          "isVisible": { "type": "boolean", "example": true },
          "license": { "$ref": "#/components/schemas/LicenseConfig" },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanLink" }
          },
          "fileKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Temporary S3 keys (e.g. `tmp/<uuid>/<filename>`) returned by `POST /media/` for files to attach to the plan. Uploaded files are moved into permanent storage and exposed via the plan's `files[]`.",
            "example": [
              "tmp/9b1c8af2-3d4e-4f9a-8b2c-1f3e5a7b9d12/plan-terms.pdf"
            ]
          },
          "ordering": { "type": "integer", "example": 1 }
        },
        "example": {
          "name": "Pro Monthly",
          "identifier": "pro-monthly",
          "description": "Pro tier billed monthly.",
          "product": "0d65f7c0-7e91-4f56-9b32-13a9a6a7c1de",
          "isVisible": true,
          "fileKeys": [
            "tmp/9b1c8af2-3d4e-4f9a-8b2c-1f3e5a7b9d12/plan-terms.pdf"
          ],
          "ordering": 1
        }
      },
      "PlanUpdateRequest": {
        "type": "object",
        "description": "Patch payload for a plan. If applied to a published (is_latest) plan, a new version is created automatically.",
        "properties": {
          "name": { "type": "string", "example": "Pro Monthly (v2)" },
          "description": { "type": "string", "example": "Updated description." },
          "metadata": { "type": "object", "additionalProperties": true, "example": {} },
          "isVisible": { "type": "boolean", "example": true },
          "license": { "$ref": "#/components/schemas/LicenseConfig" },
          "links": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanLink" }
          },
          "fileKeys": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional temporary S3 keys (from `POST /media/`) to append to the plan's files. Existing files are left untouched.",
            "example": [
              "tmp/9b1c8af2-3d4e-4f9a-8b2c-1f3e5a7b9d12/plan-terms.pdf"
            ]
          }
        }
      },
      "PlanPublishRequest": {
        "type": "object",
        "description": "Publishes the most recent draft of a plan.",
        "properties": {
          "updateFeatures": {
            "type": "boolean",
            "description": "If `true`, existing customers are migrated so their feature entitlements match the newly published plan.",
            "example": false
          },
          "updatePricing": {
            "type": "boolean",
            "description": "If `true`, existing customers are migrated to the newly published plan's pricing.",
            "example": false
          }
        }
      },
      "PlanPublishResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "published" }
        }
      },
      "PlanCharge": {
        "type": "object",
        "description": "An individual charge inside a feature's pricing definition.",
        "properties": {
          "chargePeriod": {
            "type": "string",
            "enum": ["ONE_TIME", "DAILY", "MONTHLY", "QUARTERLY", "YEARLY"],
            "example": "MONTHLY"
          },
          "priceData": {
            "type": "object",
            "additionalProperties": true,
            "description": "For FLAT/PACKAGE: `{ amount, block_size? }`. For TIERED/VOLUME/STAIRSTEP: `{ currency }`.",
            "example": { "amount": 29.99 }
          },
          "tiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "flatAmount": { "type": "number", "example": 0 },
                "unitAmount": { "type": "number", "example": 0.001 },
                "upTo": {
                  "nullable": true,
                  "description": "Upper bound of the tier. Integer, or the string \"inf\" for an unbounded final tier.",
                  "oneOf": [
                    { "type": "integer" },
                    { "type": "string" }
                  ],
                  "example": 1000
                }
              }
            },
            "example": []
          },
          "advanced": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional `{ min_quantity, max_quantity }` (FLAT only, when a feature is attached).",
            "example": {}
          }
        }
      },
      "PlanChargeCatalogPrice": {
        "type": "object",
        "description": "Pricing for one feature (or the plan itself if `feature` is null).",
        "properties": {
          "feature": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Feature UUID this pricing applies to. Required for non-FLAT models.",
            "example": "3a3e92ab-90a3-4f43-8e87-9d4c8c5a9c01"
          },
          "priceModel": {
            "type": "string",
            "enum": ["FLAT", "PACKAGE", "TIERED", "VOLUME", "STAIRSTEP"],
            "example": "FLAT"
          },
          "reset": {
            "type": "string",
            "enum": ["NEVER", "EVERY_DAY", "EVERY_MONTH", "EVERY_QUARTER", "EVERY_YEAR"],
            "example": "EVERY_MONTH"
          },
          "resetTime": {
            "type": "string",
            "nullable": true,
            "example": "BEGINNING_OF_PERIOD"
          },
          "hasUnlimitedUsage": { "type": "boolean", "example": false },
          "paymentType": {
            "type": "string",
            "enum": ["ADVANCE_COMMITMENT", "PAY_AS_YOU_GO"],
            "example": "ADVANCE_COMMITMENT"
          },
          "rollover": {
            "type": "object",
            "description": "Optional `{ enabled, percentage, limit }`.",
            "additionalProperties": true,
            "example": {}
          },
          "usageAlerts": {
            "type": "object",
            "description": "Optional usage-alert configuration. `thresholdType` is `PERCENTAGE` (thresholds are 1-100) or `BALANCE` (thresholds are absolute usage values).",
            "properties": {
              "enabled": { "type": "boolean", "example": true },
              "thresholds": {
                "type": "array",
                "items": { "type": "number" },
                "example": [75, 90]
              },
              "thresholdType": {
                "type": "string",
                "enum": ["PERCENTAGE", "BALANCE"],
                "example": "PERCENTAGE"
              }
            },
            "example": {
              "enabled": true,
              "thresholds": [75, 90],
              "thresholdType": "PERCENTAGE"
            }
          },
          "charges": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanCharge" }
          }
        }
      },
      "PlanPrice": {
        "type": "object",
        "description": "A price (per currency) attached to a plan, with its per-feature charge configuration.",
        "properties": {
          "id": { "type": "string", "format": "uuid", "readOnly": true, "example": "df0b9da9-58c3-4d77-9b62-3f6e4c2b1ad0" },
          "priceType": {
            "type": "string",
            "enum": ["FREE", "PAID", "CUSTOM"],
            "example": "PAID"
          },
          "currency": { "type": "string", "example": "USD" },
          "freeTrial": { "type": "boolean", "example": false },
          "trialPeriod": { "type": "integer", "description": "Trial length in days.", "example": 14 },
          "enabled": { "type": "boolean", "example": true },
          "taxBehavior": {
            "type": "string",
            "enum": ["INCLUSIVE", "EXCLUSIVE", "UNSPECIFIED"],
            "example": "EXCLUSIVE"
          },
          "chargeCatalogPrice": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanChargeCatalogPrice" }
          }
        }
      },
      "PlanPriceCreateRequest": {
        "type": "object",
        "required": ["priceType"],
        "properties": {
          "priceType": {
            "type": "string",
            "enum": ["FREE", "PAID", "CUSTOM"],
            "example": "PAID"
          },
          "currency": { "type": "string", "example": "USD" },
          "freeTrial": { "type": "boolean", "example": false },
          "trialPeriod": { "type": "integer", "example": 0 },
          "enabled": { "type": "boolean", "example": true },
          "taxBehavior": {
            "type": "string",
            "enum": ["INCLUSIVE", "EXCLUSIVE", "UNSPECIFIED"],
            "example": "EXCLUSIVE"
          },
          "chargeCatalogPrice": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanChargeCatalogPrice" }
          }
        }
      },
      "PlanPriceBulkRequest": {
        "type": "object",
        "required": ["prices"],
        "description": "Replaces the plan's prices in one atomic call. Creating multiple PAID prices with the same currency is rejected.",
        "properties": {
          "prices": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanPriceCreateRequest" }
          }
        }
      },
      "PlanPriceBulkResponse": {
        "type": "object",
        "properties": {
          "prices": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanPrice" }
          }
        }
      },
      "PlanEntitlementDetails": {
        "type": "object",
        "description": "Per-feature entitlement configuration on a plan. Shape varies by feature_type.",
        "additionalProperties": true,
        "properties": {
          "value": {
            "description": "For BOOLEAN: a boolean. For CUSTOMIZABLE / METER: a number.",
            "example": 10000
          },
          "hasUnlimitedUsage": { "type": "boolean", "example": false },
          "reset": {
            "type": "string",
            "enum": ["NEVER", "EVERY_DAY", "EVERY_MONTH", "EVERY_QUARTER", "EVERY_YEAR"],
            "example": "EVERY_MONTH"
          },
          "resetTime": { "type": "string", "nullable": true, "example": "BEGINNING_OF_PERIOD" },
          "rollover": { "type": "object", "additionalProperties": true, "example": {} },
          "usageAlerts": {
            "type": "object",
            "description": "Optional usage-alert configuration for this entitlement. `thresholdType` is `PERCENTAGE` (thresholds are 1-100) or `BALANCE` (thresholds are absolute usage values).",
            "properties": {
              "enabled": { "type": "boolean", "example": true },
              "thresholds": {
                "type": "array",
                "items": { "type": "number" },
                "example": [75, 90]
              },
              "thresholdType": {
                "type": "string",
                "enum": ["PERCENTAGE", "BALANCE"],
                "example": "PERCENTAGE"
              }
            },
            "example": {
              "enabled": true,
              "thresholds": [75, 90],
              "thresholdType": "PERCENTAGE"
            }
          },
          "hardLimit": { "type": "boolean", "example": false },
          "isInherited": { "type": "boolean", "example": false },
          "isValueOverridden": { "type": "boolean", "example": false }
        }
      },
      "PlanFeatureEntitlement": {
        "type": "object",
        "properties": {
          "feature": { "$ref": "#/components/schemas/CatalogFeature" },
          "details": { "$ref": "#/components/schemas/PlanEntitlementDetails" }
        }
      },
      "PlanFeatureEntitlementWrite": {
        "type": "object",
        "required": ["feature", "details"],
        "properties": {
          "feature": {
            "type": "string",
            "format": "uuid",
            "description": "Feature UUID.",
            "example": "3a3e92ab-90a3-4f43-8e87-9d4c8c5a9c01"
          },
          "details": { "$ref": "#/components/schemas/PlanEntitlementDetails" }
        }
      },
      "PlanFeaturesCreateRequest": {
        "type": "object",
        "required": ["planEntitlements"],
        "properties": {
          "planEntitlements": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanFeatureEntitlementWrite" }
          }
        }
      },
      "PlanFeaturesBulkUpdateRequest": {
        "type": "object",
        "required": ["planEntitlements"],
        "description": "Full replacement of all entitlements on the plan. If applied to a published plan, a new version is created.",
        "properties": {
          "planEntitlements": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanFeatureEntitlementWrite" }
          },
          "basePlan": {
            "type": "string",
            "description": "Optional plan identifier to set as the base/parent plan.",
            "example": "starter-monthly"
          }
        }
      },
      "PlanFeaturePatchRequest": {
        "type": "object",
        "required": ["details"],
        "description": "Updates only the entitlement `details` for a single feature on the plan.",
        "properties": {
          "details": { "$ref": "#/components/schemas/PlanEntitlementDetails" }
        }
      },
      "PlanVersionsResponse": {
        "type": "object",
        "description": "Paginated list of every version of a plan (latest first).",
        "properties": {
          "count": { "type": "integer", "example": 3 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CatalogPlan" }
          }
        }
      },
      "PaginatedProducts": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "example": 1 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Product" }
          }
        }
      },
      "PaginatedFeatures": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "example": 1 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CatalogFeature" }
          }
        }
      },
      "PaginatedPlans": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "example": 1 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CatalogPlan" }
          }
        }
      },
      "PaginatedPlanPrices": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "example": 1 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanPrice" }
          }
        }
      },
      "PaginatedPlanFeatureEntitlements": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "example": 2 },
          "next": { "type": "string", "nullable": true, "example": null },
          "previous": { "type": "string", "nullable": true, "example": null },
          "results": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlanFeatureEntitlement" }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "example": "Object deleted successfully." }
        }
      },
      "PresignedUploadRequest": {
        "type": "object",
        "required": ["fileName", "fileType"],
        "description": "Request a presigned S3 POST policy for uploading a single file (max 5 GB). The returned `fileKey` is a temporary `tmp/<uuid>/<fileName>` path that can be passed to product/plan endpoints via `imageKeys` / `fileKeys`.",
        "properties": {
          "fileName": {
            "type": "string",
            "description": "Name of the file being uploaded. Used as the suffix of the generated S3 object key.",
            "example": "web-app-manifest-512x512.png"
          },
          "fileType": {
            "type": "string",
            "description": "MIME type of the file. Enforced by the presigned policy on upload.",
            "example": "image/png"
          }
        },
        "example": {
          "fileName": "web-app-manifest-512x512.png",
          "fileType": "image/png"
        }
      },
      "PresignedUploadResponse": {
        "type": "object",
        "description": "S3 presigned POST policy. Upload the file by sending a `multipart/form-data` POST to `url` with every key in `fields` as a form field, plus a final `file` field containing the binary. The returned `fileKey` is what you pass back to kelviq.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "S3 endpoint to POST the upload to.",
            "example": "https://kelviq-uploads.s3.amazonaws.com/"
          },
          "fields": {
            "type": "object",
            "description": "Form fields to include in the `multipart/form-data` POST (policy, signature, content-type, etc.). Send every field exactly as provided.",
            "additionalProperties": { "type": "string" },
            "example": {
              "Content-Type": "image/png",
              "key": "tmp/108713b0-1f81-42cf-a16c-c83b1d4d4148/web-app-manifest-512x512.png",
              "AWSAccessKeyId": "AKIA...",
              "policy": "eyJleHBpcmF0aW9uIjogIjIwMjYtMDUtMjFUMTI6MDA6MDBaIiwgImNvbmRpdGlvbnMiOiBbXX0=",
              "signature": "bWFkZS11cC1zaWduYXR1cmU="
            }
          },
          "fileKey": {
            "type": "string",
            "description": "Temporary S3 key for the uploaded object. Pass this back to kelviq via `imageKeys` / `fileKeys` on the relevant catalog endpoint.",
[...]
